<article>
	<h4>mittendrin.in</h4>
	<a href = "/p/team" 	>	{{'INTERFACE.TEAM' 		| translate}}</a>
	<a href = "/p/contact" 	>	{{'INTERFACE.CONTACT' 	| translate}}</a>
	<a href = "/p/legal"	>	{{'INTERFACE.LEGAL' 	| translate}}</a>
	<a href = "/p/privacy"	>	{{'INTERFACE.PRIVACY' 	| translate}}</a>
</article>

<article>
	<h4>{{'INTERFACE.SERVICE' | translate}}</h4>
	<a href = "/p/manual" 				>	{{'INTERFACE.MANUAL' 				| translate}}</a>
	<a href = "/p/accessible_language"	>	{{'INTERFACE.ACCESSIBLE_LANGUAGE' 	| translate}}</a>
	<a href = "/p/matomo" 				>	{{'INTERFACE.MATOMO' 				| translate}}</a>
	<a ng-click = "ic.consent.clear()"	>	{{'INTERFACE.REVOKE_AND_RELOAD' 	| translate}}</a>
</article>

<article>
	<h4>{{'INTERFACE.PARTNER' | translate}}</h4>
	<a href = "/p/sponsors"	>	{{'INTERFACE.SPONSORS' 	| translate}}</a>
	<a href = "/p/partners"	>	{{'INTERFACE.PARTNERS' 	| translate}}</a>
	<a href = "/p/contact" 	>	{{'INTERFACE.CONTACT' 	| translate}}</a>
	<a href = "/p/legal"	>	{{'INTERFACE.LEGAL' 	| translate}}</a>
</article>
