<article>
	<a href = "/p/about"			class = "ic-button">		{{'INTERFACE.ABOUT'			| translate}}</a>
	<a href = "/p/contact" 			class = "ic-button">		{{'INTERFACE.CONTACT' 		| translate}}</a>
</article>

<article>
	<a href = "/p/legal"			class = "ic-button">		{{'INTERFACE.LEGAL' 		| translate}}</a>
	<a href = "/p/privacy"			class = "ic-button">		{{'INTERFACE.PRIVACY' 		| translate}}</a>
	<button 
		ng-click 	= "ic.consent.clear()"
	>
		{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
	</button>
</article>

<article>
	<a href = "/p/matomo"			class = "ic-button">		{{'INTERFACE.MATOMO' 		| translate}}</a>
	<a href = "/p/accessibility" 	class = "ic-button">	{{'INTERFACE.ACCESSIBILITY' | translate}}</a>
	
	<button ng-click = "ic.overlays.toggle('login')">
		{{'INTERFACE.LOGIN' | translate }}
	</button>	
</article>
