<!-- upper row -->

<div class="upper-row bg-0 padding">

	<div class = "start">
		<a href = "/">
			<ic-logo-full>			
			</ic-logo-full>
		</a>
		
	</div>

	<!-- <div class = "center">
		<ic-logo-line class = "large">
		</ic-logo-line>
	</div>
 -->
	<div class = "end">

		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
			ng-if		= "!['XS', 'S'].includes(ic.layout.mode.name)"
		>	
			<span class = "icon icon-interface-search"></span>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 	
			ng-href 	="{{ {calendar: true} | icLink }}"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
			ng-if		= "!['XS', 'S'].includes(ic.layout.mode.name)"
		>			
			<span class = "icon icon-interface-calendar"></span>	
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>

		<a 
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"		
			ng-if		= "!['XS', 'S'].includes(ic.layout.mode.name)"
		>
			<span class = "icon icon-interface-favourites"></span>	
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>

		<a 
			ng-href		= "/p/acessibility"
			title		= "{{'INTERFACE.FONT_SIZE' | translate}}"
			ng-click	= "ic.layout.toggleFontSize()"		
		>
			<span class = "icon icon-interface-font_size"></span>	
			<span ng-if = "ic.layout.mode.name != 'XS'">
				{{'INTERFACE.FONT_SIZE' | translate}}
			</span>
		</a>

		<button
			ng-click	= "ic.overlays.open('languageMenu')" 
			ng-if		= "ic.user.can('update_translations') || ic.languages.availableLanguages.length > (ic.languages.availableLanguages.indexOf('none') == -1 ? 1 :2)"
			title		= "{{'INTERFACE.LANGUAGES' | translate}}"
		>
			<span
				ng-repeat-start = "language in ic.languages.availableLanguages"				
			>	
				{{language.toUpperCase()}}
			</span>
			<span 
				ng-repeat-end	= ""
				ng-if			= "!$last"
			>
				/
			</span>

		</button>


		<button 
			ng-click 	= "ic.overlays.open('mainMenu')"
			class 		= "icon icon-interface-menu x-large"
			title		= "{{'INTERFACE.MAIN_MENU' | translate}}"
		>		
		</button>
	</div>

	
</div>

<div class="lower-row padding">

		<a 
			class		= "ic-button icon large icon-interface-home"
			ng-href		= "/"
			title		= "{{'INTERFACE.HOME' | translate}}"
			ng-if		= "!['XS', 'S'].includes(ic.layout.mode.name)"
		>		
		</a>

		<a 
			class		= "ic-button icon icon-interface-home left"
			ng-href		= "/"
			title		= "{{'INTERFACE.HOME' | translate}}"
			ng-if		= "['XS', 'S'].includes(ic.layout.mode.name)"
		>		
			{{ 'INTERFACE.HOME' | translate : '' }}
		</a>


		<!-- XS S -->

		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
			ng-if		= "['XS', 'S'].includes(ic.layout.mode.name)"
			class 		= "ic-button icon icon-interface-search left"
		>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 	
			ng-href 	="{{ {calendar: true} | icLink }}"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
			ng-if		= "['XS', 'S'].includes(ic.layout.mode.name)"
			class		= "ic-button icon icon-interface-calendar left"
		>			
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>

		<a 
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"		
			ng-if		= "['XS', 'S'].includes(ic.layout.mode.name)"
			class		= "ic-button icon icon-interface-favourites left"
		>
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>

		<!-- XS S -->

		<a 
			ng-href		= "/list"
			class		= "ic-button"
		>		
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>

		<a 
			ng-href		= "/p/tags"
			class		= "ic-button"
		>		
			{{'INTERFACE.CATEGORIES' | translate}}
		</a>

		<!-- <a 
			ng-href		= "/p/engage"
		>		
			{{'INTERFACE.ENGAGE' | translate}}
		</a> -->

		<a 
			ng-href		= "/item/new"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_NEW_ITEM' | translate }}
		</a>

		<a 
			ng-href		= "/p/help"
			class		= "ic-button"
		>		
			{{'INTERFACE.HELP_QA' | translate }}
		</a>

		<a 
			ng-href		= "/p/support"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_SUPPORT' | translate}}
		</a>

		<a 
			ng-href		= "/p/partners"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_PARTNERS' | translate}}
		</a>
</div>

