<!-- upper row -->

<div class="upper-row bg-0 padding">


	<div class = "start">
		<ic-logo-full role ="image"></ic-logo-full>
		
	</div>

	<!-- <div class = "center">
		<ic-logo-line class = "large">
		</ic-logo-line>
	</div>
 -->
	<div class = "end">

		<a 
			ng-href		= "/p/extended_search"
			class 		= "icon icon-interface-search left"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
		>		
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 	
			ng-href 	="/calendar"
			class 		= "icon icon-interface-calendar left"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
		>			
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>

		<a 
			class		= "icon icon-interface-favourites left"
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"		
		>
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>

		<button
			ng-click	= "ic.overlays.open('languageMenu')" 
			ng-if		= "ic.user.can('update_translations') || ic.languages.availableLanguages.length > (ic.languages.availableLanguages.indexOf('none') == -1 ? 1 :2)"
			title		= "{{'INTERFACE.LANGUAGES' | translate}}"
		>
			<span
				ng-repeat-start = "language in ic.languages.availableLanguages"				
			>	
				{{language.toUpperCase()}}
			</span>
			<span 
				ng-repeat-end	= ""
				ng-if			= "!$last"
			>
				/
			</span>

		</button>


		<button 
			ng-click 	= "ic.overlays.open('menu')"
			class 		= "icon icon-interface-menu large"
			title		= "{{'INTERFACE.MAIN_MENU' | translate}}"
		>		
		</button>
	</div>

	
</div>

<div class="lower-row bg-3 padding">

		<a 
			class		= "icon large icon-interface-help"
			ng-href		= "/"
		>		
		</a>


		<a 
			ng-href		= "/p/explore"
		>		
			{{'INTERFACE.EXPLORE' | translate}}
		</a>

		<a 
			ng-href		= "/p/engage"
		>		
			{{'INTERFACE.ENGAGE' | translate}}
		</a>

		<a 
			ng-href		= "/p/enter"
		>		
			{{'INTERFACE.ENTER' | translate}}
		</a>

		<a 
			ng-href		= "/p/partners"
		>		
			{{'INTERFACE.PARTNERS' | translate}}
		</a>

		<a 
			ng-href		= "/p/help"
			title		= "{{'INTERFACE.HELP' | translate}}"		
		>		
			{{'INTERFACE.HELP' | translate}}
		</a>

		<a 
			ng-click	= "ic-overlays.opem('visual-aids')"
			title		= "{{'INTERFACE.VISUAL_AIDS' | translate}}"		
		>		
			{{'INTERFACE.VISUAL_AIDS' | translate}}
		</a>

</div>
