<!-- upper row -->

<div class="upper-row bg-0 padding">


	<div class = "start">
		<a href = "/">
			<ic-logo-full>			
			</ic-logo-full>
		</a>
		
	</div>

	<!-- <div class = "center">
		<ic-logo-line class = "large">
		</ic-logo-line>
	</div>
 -->
	<div class = "end">

		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
		>	
			<span class = "icon icon-interface-search large"></span>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 	
			ng-href 	="/calendar"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
		>			
			<span class = "icon icon-interface-calendar large"></span>	
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>

		<a 
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"		
		>
			<span class = "icon icon-interface-favourites"></span>	
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>

		<a 
			ng-href		= "/p/acessibility"
			title		= "{{'INTERFACE.ACCESSIBILITY' | translate}}"		
		>
			<span class = "icon icon-interface-accessibility large"></span>	
			{{'INTERFACE.ACCESSIBILITY' | translate}}
		</a>

		<button
			ng-click	= "ic.overlays.open('languageMenu')" 
			ng-if		= "ic.user.can('update_translations') || ic.languages.availableLanguages.length > (ic.languages.availableLanguages.indexOf('none') == -1 ? 1 :2)"
			title		= "{{'INTERFACE.LANGUAGES' | translate}}"
		>
			<span
				ng-repeat-start = "language in ic.languages.availableLanguages"				
			>	
				{{language.toUpperCase()}}
			</span>
			<span 
				ng-repeat-end	= ""
				ng-if			= "!$last"
			>
				/
			</span>

		</button>


		<button 
			ng-click 	= "ic.overlays.open('mainMenu')"
			class 		= "icon icon-interface-menu x-large"
			title		= "{{'INTERFACE.MAIN_MENU' | translate}}"
		>		
		</button>
	</div>

	
</div>

<div class="lower-row bg-3 padding">

		<a 
			class		= "icon large icon-interface-home"
			ng-href		= "/"
		>		
		</a>

		<a 
			ng-href		= "/p/explore"
		>		
			{{'INTERFACE.EXPLORE' | translate}}
		</a>

		<a 
			ng-href		= "/p/engage"
		>		
			{{'INTERFACE.ENGAGE' | translate}}
		</a>

		<a 
			ng-href		= "/item/new"
		>		
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate}}
		</a>

		<a 
			ng-href		= "/p/partners"
		>		
			{{'INTERFACE.PARTNERS' | translate}}
		</a>


</div>
