<div class = "buttons">
	<button 
		ng-if		= "true || ic.user.can('edit_items')"
		ng-disabled	= "!!icItem.remoteItem"
		ng-click 	= "ic.site.editItem = true" 		
		title		= 	"{{ic.user.can('edit_items')? 'INTERFACE.EDIT' : 'INTERFACE.EDIT_SUGGESTION' | translate}} {{icItem.remoteItem ? 'INTERFACE.REMOTE_ITEM_CANNOT_EDIT' : '' | translate}}"		
		ic-touch-me
	>

		<span class ="icon icon-interface-edit"></span>
		<span> {{'INTERFACE.EDIT' | translate}}</span>

	</button>


	<button 
		ng-click 	= "ic.overlays.toggle('sharingMenu')" 
		title		= "{{'INTERFACE.SHARE' | translate}}"
		ic-touch-me
	>
		<span class 	= "icon icon-interface-share"></span>
		<span>{{'INTERFACE.SHARE' | translate}}</span>
	</button>

		
	<button 
		ng-click	= "ic.site.print()"
		title		= "{{'INTERFACE.PRINT' | translate}}"
		ic-touch-me
	> 
		<span class ="icon icon-interface-print"></span>
		<span>{{'INTERFACE.PRINT' | translate}}</span>
	</button>

	<button 
		title		= "{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(icItem) ? 'remove': 'add' | translate}}"
		ng-click 	= "ic.favourites.toggleItem(icItem)" 
		ic-touch-me
	> 

		<span 
       		class     ="icon icon-interface-favourites_add"
        	ng-class  = "{'icon-interface-favourites_remove': ic.favourites.contains(icItem), 'icon-interface-favourites_add': !ic.favourites.contains(icItem)}"
      	>
		</span>
		<span>
			{{'INTERFACE.FAVOURITE_%s' | fill : ic.favourites.contains(icItem) ? 'remove': 'add' | translate}}
		</span>
	</button>

	<button
		ng-click	=	"editCopy()"
		title		= 	"{{'INTERFACE.EDIT_COPY_SUGGESTION' | translate}}"
		ic-touch-me
	>
		<span class 		="icon icon-interface-edit_copy">
		</span>
		<span>
			{{'INTERFACE.EDIT_COPY_SUGGESTION' | translate}}
		</span>
	</button>
<!-- 
	<a
		class 		= 	"ic-button"
		ng-href		=	"/p/tiles/u/favourite"
		title		= 	"{{'INTERFACE.FAVOURITES' | translate}}"
		ic-touch-me
	> 
		<span class = "icon icon-interface-favourites"
		>
		</span>
		<span>
			{{'INTERFACE.FAVOURITES' | translate}}
		</span>
	</a>
	 -->
</div>

<article 
	ng-if = "references.length > 0"
	class = "item-list"
>
	<h4>

		{{'ITEMS.LINKED_ITEMS' | translate}}
	</h4>
	<a
		ng-repeat 			= "linked_item in references | sortByKey : 'state' : 'archived' : false"
		ng-href 			= "{{ {activeItem: (linked_item.id | icItem) } | icLink }}"
		class				= "block"
		ic-highlight-item 	= "linked_item"
		
		ic-touch-me
	>		
		<ic-item-preview 
			ic-item		= "linked_item"
		></ic-item-preview>
	</a>
</div>
