<div class = "bg-0 spacer"></div>

<ic-spinner active = "item.downloading"></ic-spinner>


<div class ="bg-0">
	<div 
		class 		= "hero-wrapper screen-only {{item.image ? 'bg-0'  : (item|icType).name == 'location' && 'disabled ic-bg-type-location' || (item|icCategory) && 'disabled ic-bg-cat-'+(item|icCategory).name}} "
	>
		<!-- temporarily IGNORe images -->
		<div
			ng-if		="	true || !item.image"
			class		= 	"hero fallback white {{ (item | icType).name == 'location' && 'icon-type-location' || (item | icCategory) && 'icon-category-'+(item | icCategory).name}}" 
		>
		</div>
		<div 
			ng-if		= "false && item.image"
			class		= "hero" 
			ng-style	= "{'background-image' : 'url('+item.image+')'}" 
		>
		</div>		
	</div> 
</div>


<div
	class 	= "bg-neutral padding bold-links underline-links flex"
	ng-if	= "item.remoteItem"
>
	<span class = "icon white icon-interface-remote"></span>
	&nbsp;
	{{'INTERFACE.REMOTE_ITEM_FROM'|translate}}
	&nbsp;
	<a href = "{{item.remoteItem.original}}">{{item.remoteItem.sourceName}}</a>

	<div class ="flex-grow"></div>

	<ic-help ic-icon-class = "white"> 
		{{"INTERFACE.REMOTE_ITEM_HELP"|translate}}
		<br/>
		<br/>
		<a href ="{{item.remoteItem.original}}">{{"INTERFACE.REMOTE_ITEM_ORIGINAL"|translate}}</a>
	</ic-help>
</div>


<section class = "bg-0">

	<div class = "type print-only">
		<span ng-if = "(item | icType)">{{ 'TYPES.%s' | fill : (item | icType).name | translate }}</span>
	</div>


	<div class = "category print-only">
		{{ 'CATEGORIES.%s' | fill :  (item | icCategory).name | translate }}
		<div 
			class	= "icon print-only icon-category-{{ (item | icCategory).name}}"
		></div>
	</div>

	<article 
		class = "screen-only"
		ng-if = "ic.user.can('edit_items')"
	>		
		<div> <!-- spacer --> </div>
		<div>

			<div ng-if = "item.creator">
				{{'ITEMS.CREATOR' | translate}} 	 	{{item.creator 	}} 	({{item.creationDate | icDate}})
			</div>
			<div ng-if  ="item.lastEditor">
				{{'ITEMS.LAST_EDITOR' | translate}}  	{{item.lastEditor	}}	({{item.lastEditDate | icDate}})
			</div>	
			<div ng-if  ="item.resubmissionDate">
				{{'ITEMS.RESUBMISSION_DATE' | translate}}  	({{item.resubmissionDate | icDate}})
			</div>	
			<div 
				ng-if = "!item.remoteItem && ic.user.can('edit_items') && ic.languages.availableLanguages.length > (ic.languages.availableLanguages.indexOf('none') == -1 ? 1 :2)"
			>
				<a class = "active" ng-click ="ic.admin.autoTranslate(item)">{{'INTERFACE.AUTO_TRANSLATE'| translate }}</a>
			</div>
		</div>
	</article>

	<!-- tags -->


	<article class = "screen-only">
		<div><!-- spacer --></div>
		<ic-taxonomy-tag-list ic-tags = "item.primaryTopic"></ic-tag-list>
	</article>



	<!-- start item title, brief description -->
	<article class = "main">
		<div>
			<ic-item-badge ic-item = "item"></ic-item-badge>
		</div>

		<div 
			class 	= "xhcenter"
			ng-if	= "ic.layout.mode.name == 'XS'"
		>
			<h2 class = "title" >
				{{ item | icFullTitle }} 
				<span 
					ng-if 	= "ic.user.can('edit_items')"
					class	= "screen-only"
				>
					[{{'ITEMS.STATE_%s' | fill: item.state | translate}}]
				</span>
			</h2>

		</div>

		<h3 ng-if = "ic.layout.mode.name == 'XS'">
				{{ item.brief[ic.site.currentLanguage] | clearTranslator }}
		</h3>

		<div>


			<div 
				ng-if	= "ic.layout.mode.name != 'XS'"
			>
				<h2 class = "title" >
					{{ item | icFullTitle }}
					<span ng-if = "ic.user.can('edit_items')">[{{'ITEMS.STATE_%s' | fill: item.state | translate}}]</span>
				</h2>
			</div>

			<h3 ng-if	= "ic.layout.mode.name != 'XS'">
				{{ item.brief[ic.site.currentLanguage] | clearTranslator }}
			</h3>



			<!-- auto translate notification -->

			<div
				ng-if 	= "(item | autoTranslators : ic.site.currentLanguage : [(item.location_ref | icItem).brief[ic.site.currentLanguage]]).length > 0"
				class	= "bg-1 col-0 auto-translation-notification icon-interface-translate_robot_horizontal" 
			>
				<div ng-bind-html = "('INTERFACE.AUTO_TRANSLATION_NOTIFICATION' | translate | markdown : true) +' '+ (item | autoTranslators : ic.site.currentLanguage).join(', ')">			
				</div>
			</div>



			<div 
				class = "screen-only description  highlight-links lang-{{ic.site.currentLanguage}}" 
			>
				<span ng-bind-html 	= "item.description[ic.site.currentLanguage] | clearTranslator | markdown"></span>	

			</div>

			<div class = "print-only description highlight-links lang-{{ic.site.currentLanguage}}">
				<span ng-bind-html 	= "item.description[ic.site.currentLanguage] | clearTranslator | markdown"></span>
				<span
					ng-if	= "item.description[ic.site.currentLanguage] | autoTranslator"
					class 	= "icon plain inline icon-interface-translate_robot"
					title	= "{{'INTERFACE.AUTO_TRANSLATED_BY' | translate}} {{item.description[ic.site.currentLanguage] | autoTranslator}}"
				></span>		
			</div>

		</div>



	</article>
	<!-- end item title -->




	<div>
		<div class = "icon icon-section-info bottom right"> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4>{{'ITEMS.SECTION_INFO' | translate}}</h4>
		</div>
	</div>	
	



	<!-- hours -->

	<ic-item-property
		ng-if			= "item.hours[ic.site.currentLanguage]"
		ic-title 		= "'ITEMS.HOURS' | translate"	
		ic-content		= "item.hours[ic.site.currentLanguage]"
	>
	</ic-item-property>


	<!-- charge -->

	<ic-item-property
		ng-if			= "item.charge[ic.site.currentLanguage]"
		ic-title 		= "'ITEMS.CHARGE' | translate"	
		ic-content		= "item.charge[ic.site.currentLanguage]"
	>
	</ic-item-property>
	

	<!-- target groups -->

	<ic-item-property
		class			= "short"
		ng-if			= "(item.tags | icUnsortedTags : 'target_groups').length"
		ic-title 		= "'ITEMS.TARGET_GROUPS' | translate"	
		ic-content		= "(item.tags | icUnsortedTags : 'target_groups' | mapExpression: '\'UNSORTED_TAGS.%s\' | fill: x | translate' : this).join(', ')"
	>
	</ic-item-property>

	<!-- languages -->

	<ic-item-property
		class			= ""
		ng-if			= "(item.tags | icUnsortedTags : 'languages').length"
		ic-title 		= "'ITEMS.LANGUAGES' | translate"	
		ic-content		= "(item.tags | icUnsortedTags : 'languages'  | mapExpression: '\'UNSORTED_TAGS.%s\' | fill: x | translate' : this).join(', ')"
	>
	</ic-item-property>

	<!-- venue -->

	<ic-item-property
		ng-if			= "item.venue[ic.site.currentLanguage]"
		ic-title 		= "'ITEMS.VENUE' | translate"	
		ic-content		= "item.venue[ic.site.currentLanguage]"
	>
	</ic-item-property>


	<!-- misc -->

	<ic-item-property
		ng-if			= "(item.tags | icUnsortedTags : 'misc').length"
		ng-title		= "'ITEMS.MISC' | translate"
		ic-content		= "(item.tags | icUnsortedTags : 'misc'  | mapExpression: '\'UNSORTED_TAGS.%s\' | fill: x | translate' : this).join(', ')"
	>
	</ic-item-property>




	<div ng-if = "item.location_ref || item.address || item.directions[ic.site.currentLanguage] || (item.latitude && item.longitude) ">
		<div class = "icon icon-section-location bottom right"> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4>{{'ITEMS.SECTION_LOCATION' | translate}}</h4>
		</div>
	</div>	

	<!-- link to references item -->

	<ic-item-property
		ng-if 			= 	"item.location_ref"
		ic-content		=	"(item.location_ref | icItem) | icFullTitle"
		ic-content-link	=	"{activeItem: (item.location_ref | icItem) } | icLink"
		ic-extra-lines	=	"[ (item.location_ref | icItem).brief[ic.site.currentLanguage] ]"
	>
	</ic-item-property>


	<!-- mini map -->

	<article>
		<div ng-if = "ic.layout.mode.name != 'XS'"><!-- spacer --></div>

		<ic-mini-map
			class		= "screen-only"
			ng-if		= "(item | project : 'longitude') && (item | project : 'latitude')"
			ic-item		= "item"
		>
		</ic-mini-map>
	</article>



	<!-- address -->

	<ic-item-property
		class			= 	"screen-only"
		ng-repeat		=	"projected in [ (item | project : ['location', 'address', 'zip', 'city', 'country', 'longitude', 'latitude'] | preventLoop) ]"
		ng-if			= 	"projected.address"
		ic-title 		= 	"'ITEMS.ADDRESS' | translate"
		ic-content		= 	"projected.location"
		ic-extra-lines	= 	"[
								 projected.address 	|| '-', 
								(projected.zip		|| '') + ' ' + (projected.city || ''), 
								 projected.country 	|| ''
							]"
		ic-lor			=	"item.tags"
	>
	</ic-item-property>

	<ic-item-property
		class			=	"print-only"
		ng-repeat		=	"projected in [ (item | project : ['location', 'address', 'zip', 'city', 'country', 'longitude', 'latitude'] | preventLoop) ]"
		ng-if			= 	"projected.address"
		ic-title 		= 	"'ITEMS.ADDRESS' | translate"
		ic-content		= 	"projected.location"
		ic-extra-lines	= 	"[
								 projected.address 	|| '-', 
								(projected.zip		|| '') + ' ' + (projected.city || ''), 
								 projected.country 	|| ''
							]"
		ic-icon			= 	"'property-location'"
	>
	</ic-item-property>


	<!-- directions -->
	<ic-item-property		
		ng-repeat		= 	"projected in [ (item | project : ['directions']) ] | preventLoop"
		ng-if			=	"projected.directions && projected.directions[ic.site.currentLanguage]"
		ic-content		= 	"projected.directions[ic.site.currentLanguage]"
	>
	</ic-item-property>

	<!-- map links -->

	<ic-item-property
		class			=	"screen-only short"
		ng-repeat		=	"projected in [ (item | project : ['longitude', 'latitude'] | preventLoop) ]"
		ng-if			= 	"projected.latitude && projected.longitude"
		ic-title 		= 	"'ITEMS.SHOW_LOCATION_AT' | translate"
		ic-extra-links	= 	"{
								'OpenStreetMap' : 	(projected | osmLink),
								'Google Maps' : 	(projected | gmLink),
							}"
	>
	</ic-item-property>










	

	<!-- accessibility -->

	<div ng-if = "item.accessibility[ic.site.currentLanguage] || (item.tags | section : ic.taxonomy.tags.accessibility).length > 0">
		<div class = "icon icon-section-accessibility bottom right"> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4>{{'ITEMS.SECTION_ACCESSIBILITY' | translate}}</h4>
		</div>
	</div>	


	<ic-item-property
		ng-if			= 	"(item.tags | section : ic.taxonomy.tags.accessibility).length > 0"
		ic-extra-lines	= 	"item.tags | section : ic.taxonomy.tags.accessibility | mapExpression : '( \'UNSORTED_TAGS.%s\'| fill: x | translate)' : this | preventLoop "
	>
	</ic-item-property>


	<ic-item-property
		ng-if			= 	"item.accessibility[ic.site.currentLanguage]"
		ic-content		= 	"item.accessibility[ic.site.currentLanguage]"
	>
	</ic-item-property>




	<!-- contact details -->

	<div ng-if = "item.contact || item.phone || item.mobile || item.email">
		<div class = "icon icon-section-contact bottom right"> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4>{{'ITEMS.SECTION_CONTACT' | translate}}</h4>
		</div>
	</div>


	<ic-item-property
		class			= "short"
		ng-if			= "item.contact"
		ic-title 		= "'ITEMS.CONTACT' | translate"
		ic-content		= "item.contact"
	>
	</ic-item-property>

	<ic-item-property
		class			= "short"
		ng-repeat		= "key in ['phone', 'mobile', 'email']"
		ng-if			= "item[key]"
		ic-title 		= "'ITEMS.%s' | fill : key | translate"
		ic-content		= "item[key]"
		ic-link			= "::key | icLinkPrefix"
	>
	</ic-item-property>






	<div ng-if = "['website', 'twitter', 'facebook', 'whatsapp'] | mapExpression: 'item[x]' : this | some">
		<div class = "icon icon-section-links bottom right"> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4>{{'ITEMS.SECTION_LINKS' | translate}}</h4>
		</div>
	</div>	



	<ic-item-property
		class			= "short"
		ng-repeat		= "key in ['website', 'twitter', 'facebook', 'whatsapp']"
		ng-if			= "item[key]"
		ic-title 		= "'ITEMS.%s' | fill : key | translate"
		ic-content		= "item[key]"
		ic-link			= "::key | icLinkPrefix"
	>
	</ic-item-property>



	<div ng-if = "(item.tags | icUnsortedTags : 'institution_type').length > 0  || item.responsibleInstitution || item.sponsors">
		<div> <!-- spacer --> </div>
		<div>
			<hr class  = "hr-no-header bg-2"/>			
		</div>
	</div>	


	<!-- institution type -->

	<ic-item-property
		ng-if			= "(item.tags | icUnsortedTags : 'institution_type').length > 0"
		ic-title 		= "'ITEMS.INSTITUTION_TYPE' | translate"
		ic-extra-lines	= "item.tags | icUnsortedTags : 'institution_type' | mapExpression: '\'UNSORTED_TAGS.%s\' | fill:x | translate' : this"
	>
	</ic-item-property>


	<!-- responsible -->

	<ic-item-property
		ng-if			= "item.responsibleInstitution"
		ic-title 		= "'ITEMS.RESPONSIBLE_INSTITUTION' | translate"
		ic-content		= "item.responsibleInstitution"
	>
	</ic-item-property>

	<!-- sponsors -->

	<ic-item-property
		ng-if			= "item.sponsors"
		ic-title 		= "'ITEMS.SPONSORS' | translate"
		ic-content		= "item.sponsors"
	>
	</ic-item-property>

	<div>
		<div> <!-- spacer --> </div>
		<div>
			<hr class  = "bg-2"/>
			<h4 class = "screen-only">{{'ITEMS.TAGS_FOOTER_NOTE' | translate}}</h4>
		</div>
	</div>


	<article 
		class = "screen-only"
		ng-if = "item.tags.length > 0"
	>
		<div><!-- spacer --></div>
		<ic-taxonomy-tag-list ic-tags = "item.tags"></ic-tag-list>
	</article>	


	<div class ="screen-only">
		<div> <!-- spacer --> </div>
		<div>
			<h4 class = "screen-only">{{'INTERFACE.QR_CODE' | translate}}</h4>
			<div class = "qrcode">
				<qrcode 
					version					=	"4" 
					error-correction-level	=	"M" 
					size					=	"200" 
					data					=	"{{item | icItemLink}}"
					ng-if					=	"item"
					ng-click				=	"ic.overlays.open('qrcode')"
				>
				</qrcode>
			</div>
		</div>
	</div>


	<article 
		class = "screen-only"
		ng-if = "item.lastEditDate"
	>		
		<div> <!-- spacer --> </div>
		<div>
				{{'ITEMS.LAST_CHANGE' | translate}}: {{item.lastEditDate | icDate}}			
		</div>
	</article>

</section>

<footer class  = "print-only">

	<div class = "logo">
		<ic-logo-print></ic-logo-print>
	</div>

	<div class ="link-to-item print-only">
		{{item | icItemLink}}
	</div>

	<div class = "qrcode">
		<qrcode 
			version					=	"4" 
			error-correction-level	=	"M" 
			size					=	"200" 
			data					=	"{{item | icItemLink}}"
			ng-if					=	"item"
		>
		</qrcode>
	</div>

</footer>


<footer class = "screen-only" ic-item-full-footer ic-item ="item"></footer>
