<button
	class 		= "close icon icon-interface-close"
	ng-click 	= "ic.overlays.toggle('mainMenu', false, true)"
	focus-me	= "ic.overlays.show.mainMenu"
>
</button>

<ul ng-click = "ic.overlays.toggle('mainMenu', false, true)">

	<li>
		<a href="/" ic-touch-me>	
			{{'INTERFACE.HOME' | translate}}
		</a>	
	</li>
	

	<li>
		<a 
			ng-href = "{{ {expandMap: true, list: true, activeItem : null, calendar: false} | icLink }}"
		>
			{{'INTERFACE.MAP' | translate}}
		</a>	
	</li>
	 

	<li>

		<a href="/p/tags" ic-touch-me>	
			{{'INTERFACE.CATEGORIES' 	| translate}}
		</a>	

	</li>
		
	<li>

		<a 
			ng-href = "{{ {expandMap: false, list: true, activeItem : null, calendar: false} | icLink }}"
		>
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>	

	</li>


	<li ng-if = "ic.config.calendar">

		<a 
			ng-href = "{{ {expandMap: false, list: false, activeItem : null, calendar: true} | icLink }}"
		>
			{{'INTERFACE.CALENDAR' | translate}}
		</a>	

	</li>


	<li 
		ng-if = "!ic.user.loggedIn && icPlain"		
	>
		<a 
			href = '/item/new'
		>			
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>	

	<li	>
		<a 
			class 			= "icon right icon-interface-down white"
			href=''
		>
			{{'INTERFACE.SERVICE' | translate}}
		</a>		

		<ul>
			<li 
				ng-repeat 	= "page in ['manual','accessible_language', 'stuetzpunkt_potsdam','vz_brandenburg']"
				class 		= "bg-0 hover" 
			> 
				<a ic-touch-me a ng-href="/p/{{page}}">	{{'INTERFACE.%s' | fill : page| translate}}</a>	
			</li>
		</ul>

	</li>

	<li>
		<a 
			class 			= "icon right icon-interface-down white"			
			href=''
		>
			{{'INTERFACE.MORE' | translate}}
		</a>		

		<ul	>

			<li 
				ng-repeat 	= "page in ic.config.pages"
				class 		= "hover" 
				ng-if 		= "['manual','accessible_language', 'stuetzpunkt_potsdam','home','funding','legal','tags','vz_brandenburg', 'tiles', 'test'].indexOf(page) == -1"
			> 
				<a ic-touch-me a ng-href="/p/{{page}}">	{{'INTERFACE.%s' | fill : page| translate}}</a>	
			</li>
			<li 
				ng-if = "ic.consent.cases.length > 0" 
				class = "hover"
			>
				<button 
					ng-click 	= "ic.consent.clear()"
				>
					{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
				</button>

			</li>

		</ul>
	</li>

	<li  ng-if = "!icPlain" class 	= "spacer"></li>

	<li
		ng-if = "!ic.user.can('edit_items') && !icPlain"
	>
		<a	
			href = '/item/new'
		>			
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>
	</li>

	<li 
		ng-if 			= "ic.user.loggedIn"
		ic-user_menu
		icPlain 		= "icPlain"
	>
	</li>	

	<li  
		ng-if	= "!ic.user.loggedIn"
	>
		<button  
			ng-click = "ic.overlays.toggle('login')"
		>
			{{'INTERFACE.LOGIN' | translate }}
		</button>
	</li>
</ul>
