
<div 
	class = "sections"
	style = "--number-of-regular-sections: {{ ic.site.numberOfVisibleSections({'skip':['map', 'filter-tags']}) }}"
>

	<section
		ng-repeat 		= "section in ic.site.config.sections | filter : {name: 'filter-tags'}"
		ic-extend		= "ic.site.visibleSections[section.name]"
		id				= "section-{{section.name}}"
		ng-include 		= "section.template" 
		ic-tab-group	= "section.tabgroup"
	>
	</section>
	<section
		ng-repeat 		= "section in ic.site.config.sections"
		ng-show			= "ic.site.visibleSections[section.name]"
		id				= "section-{{section.name}}"
		ng-include 		= "section.template" 
		ic-tab-group	= "section.tabgroup"
		ng-if			= "['map', 'filter-tags'].indexOf(section.name) == -1"
	>
	</section>
</div>

<section
	ng-repeat 		= "section in ic.site.config.sections | filter : {name: 'map'}"
	ng-show			= "ic.site.visibleSections[section.name]"
	id				= "section-{{section.name}}"
	ng-include 		= "section.template" 
	ic-tab-group	= "section.tabgroup"
>
</section>
	