<button
	class 		= "close icon icon-interface-close"
	ng-click 	= "ic.overlays.toggle('mainMenu', false, true)"
	focus-me	= "ic.overlays.show.mainMenu"
>
</button>

<a 
	ng-if = "ic.layout.mode.name == 'XS'"
	href = "/"
>
	<ic-logo-full>			
	</ic-logo-full>
</a>

<nav ng-click = "ic.overlays.toggle('mainMenu', false, true)">

	<div 
		class = "primary"
		ng-if = "true || ic.layout.mode == 'XS'"
	>

		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
			class		= "ic-button icon icon-interface-search left"
		>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 	
			ng-href 	="{{ {calendar: true, list: false} | icLink }}"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
			class		= "ic-button icon icon-interface-calendar left"			
		>			
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>


		<a 
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"	
			class		= "ic-button icon icon-interface-favourites left"				
		>
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>
	</div>

	<div class = "secondary">

		<a 
			ng-href = "{{ {expandMap: false, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>	

		<a 
			ng-href = "{{ {expandMap: true, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.MAP' | translate}}
		</a>	

	</div>

	<div 
		class	= "public-user"
		ng-if	= "!ic.user.loggedIn"
	>
		<a 
			href	= '/item/new'
			class	= "ic-button"
		>			
			{{'INTERFACE.SUGGEST_NEW_ITEM' | translate }}
		</a>

		<button 
			ng-click 	= "ic.consent.clear()"
		>
			{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
		</button>

		<button  
			ng-click = "ic.overlays.toggle('login')"
		>
			{{'INTERFACE.LOGIN' | translate }}
		</button>
	</div>


	<div class = "pages">
		<a 
			ng-repeat 	= "page in ic.config.pages"
			ng-href		= "/p/{{page}}"
			ng-if 		= "['stuetzpunkt_potsdam','home','funding','legal','tags','vz_brandenburg', 'tiles', 'test'].indexOf(page) == -1"
			class		= "ic-button"
		> 
			{{'INTERFACE.%s' | fill : page| translate}}
		</a>	
	</div>



	<ic-user-menu
		ng-if = "ic.user.loggedIn"
	>
	</ic-user-menu>

</div>
