
<div class = "primary-sections">

	<section
		ng-repeat 		= "section in ic.site.config.sections | filter : {name: 'filter-tags'}"
		ic-extend		= "ic.site.visibleSections[section.name]"
		id				= "section-{{section.name}}"
		ng-include 		= "section.template" 
		ic-tab-group	= "section.tabgroup"
	>
	</section>

	<div class = "regular-sections">
		<section
			ng-repeat 		= "section in ic.site.config.sections"
			ng-show			= "ic.site.visibleSections[section.name]"
			id				= "section-{{section.name}}"
			ng-include 		= "section.template" 
			ic-tab-group	= "section.tabgroup"
			ng-if			= "['map', 'filter-tags'].indexOf(section.name) == -1"
		>
		</section>
	</div>	
</div>

<section
	ng-repeat 		= "section in ic.site.config.sections | filter : {name: 'map'}"
	ng-show			= "ic.site.visibleSections[section.name]"
	id				= "section-{{section.name}}"
	ng-include 		= "section.template" 
	ic-tab-group	= "section.tabgroup"
>
</section>
	