<button
	class 		= "close icon icon-interface-close"
	ng-click 	= "ic.overlays.toggle('mainMenu', false, true)"
	focus-me	= "ic.overlays.show.mainMenu"
>
</button>

<a 
	ng-if = "ic.layout.mode.name == 'XS'"
	href = "/"
>
	<ic-logo-full>			
	</ic-logo-full>
</a>

<nav ng-click = "ic.overlays.toggle('mainMenu', false, true)">

<!-- 	<div 
		class = "primary"
		ng-if = "ic.layout.mode == 'XS'"
	>
		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
			class		= "ic-button icon icon-interface-search left"
		>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>


	</div> -->

	<div>
		<a 
			ng-href		= "/p/extended_search"
			title 		= "{{'INTERFACE.SEARCH' | translate}}"
			class		= "ic-button"
		>	
			{{'INTERFACE.SEARCH' | translate}}	
		</a>

		<a 
			ng-href = "{{ {expandMap: false, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>	

		<a 
			ng-href		= "/p/tags"
			title 		= "{{'INTERFACE.EXPLORE' | translate}}"
			class		= "ic-button icon"
		>	
			{{'INTERFACE.EXPLORE' | translate}}	
		</a>

		<a 
			ng-href = "{{ {expandMap: true, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.MAP' | translate}}
		</a>

		<a 	
			ng-href 	="{{ {calendar: true, list: false} | icLink }}"
			title 		= "{{'INTERFACE.CALENDAR' | translate}}"
			class		= "ic-button"			
		>			
			{{ 'INTERFACE.CALENDAR' | translate}}
		</a>
	
		<a 
			ng-href		= "/p/tiles/u/favourite"
			title		= "{{'INTERFACE.FAVOURITES' | translate}}"	
			class		= "ic-button"				
		>
			{{'INTERFACE.FAVOURITES' | translate}}
		</a>
	</div>

	<div>
		<a 
			ng-href		= "/item/new"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_NEW_ITEM' | translate }}
		</a>

		<a 
			ng-href		= "/p/help"
			title		= "{{'INTERFACE.HELP_QA' | translate }}"
			class		= "ic-button"
		>		
			{{'INTERFACE.HELP_QA' | translate }}
		</a>

		<a 
			ng-href		= "/p/support"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_SUPPORT' | translate }}
		</a>

		<a 
			ng-href		= "/p/partners"
			class		= "ic-button"
		>		
			{{'INTERFACE.MENU_PARTNERS' | translate}}
		</a>

	</div>

	<div>
		<a 
			ng-repeat	= "page in ['about', 'sponsors', 'contact']"
			ng-href		= "/p/{{page}}"
			class		= "ic-button"
		>		
			{{'INTERFACE.%s' | fill: page| translate}}
		</a>
	</div>

	<div>
		<a 
			ng-repeat	= "page in ['legal', 'privacy']"
			ng-href		= "/p/{{page}}"
			class		= "ic-button"
		>		
			{{'INTERFACE.%s' | fill: page| translate}}
		</a>

		<button 
			ng-click 	= "ic.consent.clear()"
		>
			{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
		</button>

		<a 
			ng-repeat	= "page in ['matomo', 'accessibility']"
			ng-href		= "/p/{{page}}"
			class		= "ic-button"
		>		
			{{'INTERFACE.%s' | fill: page| translate}}
		</a>
	</div>

	<!-- <div class = "pages">
		<a 
			ng-repeat 	= "page in ic.config.pages"
			ng-href		= "/p/{{page}}"
			ng-if 		= "['extended_search', 'stuetzpunkt_potsdam','home','funding','legal','tags','vz_brandenburg', 'tiles', 'test'].indexOf(page) == -1"
			class		= "ic-button"
		> 
			{{'INTERFACE.%s' | fill : page| translate}}
		</a>	
	</div> -->

	<!-- <div class = "secondary">

		<a 
			ng-href = "{{ {expandMap: false, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.FULL_LIST' | translate}}
		</a>	

		<a 
			ng-href = "{{ {expandMap: true, list: true, activeItem : null, calendar: false} | icLink }}"
			class	= "ic-button"			
		>
			{{'INTERFACE.MAP' | translate}}
		</a>	

	</div> -->

	<!-- <div 
		class	= "public-user"
		ng-if	= "!ic.user.loggedIn"
	>
		<a 
			href	= '/item/new'
			class	= "ic-button"
		>			
			{{'INTERFACE.MENU_NEW_ITEM' | translate }}
		</a>

		<button 
			ng-click 	= "ic.consent.clear()"
		>
			{{'INTERFACE.REVOKE_AND_RELOAD' | translate}}
		</button>

		<button  
			ng-click = "ic.overlays.toggle('login')"
		>
			{{'INTERFACE.LOGIN' | translate }}
		</button>
	</div> -->



	<div ng-if = "!ic.user.loggedIn">
		<button  
			ng-click = "ic.overlays.toggle('login')"
		>
			{{'INTERFACE.LOGIN' | translate }}
		</button>
	</div>

	<ic-user-menu
		ng-if = "ic.user.loggedIn"
	>
	</ic-user-menu>

</div>
