<article
	ic-settle-scrollbar					= "true"
	ic-scroll-source 					= "calendar"
	ic-scroll-snap-anchor 				= "header"
	ic-scroll-repeat-limit-container 	= "true"
	ic-calendar-controls
>
	<header>
		<div class = "heading">
			<h1>{{'INTERFACE.CALENDAR' | translate}}</h1>

			<button
				ng-if 		= "!ic.site.visibleSections.filter && ic.layout.mode.name != 'XS'"
				class 		= "border icon icon-interface-filter left"
				ng-click 	= "ic.overlays.toggle('taxonomyFilter')"
				ic-touch-me 
			>
				{{'INTERFACE.FILTER' | translate}}
			</button>

			<button 
				ng-if 		= "!ic.site.visibleSections.map && ic.layout.mode.name != 'XS'"
				class 		= "border icon icon-interface-map left"
				ng-click 	= "ic.site.expandMap = true"
				ic-touch-me 
			>
				{{'INTERFACE.MAP' | translate}}
			</button>

		</div>

		<div class = "controls">

			<button
				ng-if 		= "!ic.site.visibleSections.filter && ic.layout.mode.name == 'XS'"
				class 		= "border icon icon-interface-filter left"
				ng-click 	= "ic.overlays.toggle('taxonomyFilter')"
				ic-touch-me 
			>
				{{'INTERFACE.FILTER' | translate}}
			</button>

			<button 
				ng-if 		= "!ic.site.visibleSections.map && ic.layout.mode.name == 'XS'"
				class 		= "border icon icon-interface-map left"
				ng-click 	= "ic.site.expandMap = true"
				ic-touch-me 
			>
				{{'INTERFACE.MAP' | translate}}
			</button>

			<input 
				type 		= "date" 
				class		= "ic-button round border"
				ng-model	= "customDate" 
				min 		= "{{today}}" 
				title 		= "{{'INTERFACE.PICK_DAY' | translate}}"
			>	 					

			<div class ="spacer"></div>

			<button
				class 		= "rounded border {{ isToday() ? 'activated' : ''}}"
				ng-click 	= "toggleToday()"
				ic-touch-me 
			>
				{{'INTERFACE.TODAY' | translate}}
			</button>

			<button
				class 		= "rounded border {{ isTomorrow() ? 'activated' : ''}}"
				ng-click 	= "toggleTomorrow()"
				ic-touch-me 
			>
				{{'INTERFACE.TOMORROW' | translate}}
			</button>

			<button
				class 		= "round border  {{ isWeekend() ? 'activated' : ''}}"
				ng-click 	= "toggleWeekend()"
				ic-touch-me 
			>
				{{'INTERFACE.WEEKEND' | translate}}
			</button>

			
		</div>

	</header>

	<ic-search-result-calendar 			
		ic-start-date 	= "startDate"
		ic-end-date		= "endDate" 
		ic-exclude-tags	= "'location'"
	>
	</ic-search-result-calendar>

	
</article>