<select
	class 		= "border icon icon-interface-down right"
	title 		= "{{'INTERFACE.SORT' | translate}}"
	ng-model 	= "sort "
>

	<option value = "last_change:1" selected>		
		{{'INTERFACE.SORT_LABEL_LAST_CHANGE_ASC' | translate}}
	</option>

	<option value = "last_change:-1">		
		{{'INTERFACE.SORT_LABEL_LAST_CHANGE_DESC' | translate}}
	</option>

	<option value = "{{'alphabetical_'+ic.site.currentLanguage}}:1">		
		{{'INTERFACE.SORT_LABEL_ALPHABETICALLY_ASC'| translate}}	
	</option>

	<option value = "{{'alphabetical_'+ic.site.currentLanguage}}:-1">		
		{{'INTERFACE.SORT_LABEL_ALPHABETICALLY_DESC'| translate}}	
	</option>


</select>
