<article
	ic-settle-scrollbar		= "true"
	ic-scroll-source 		= "page"
	ic-scroll-repeat-limit-container
>

	<ic-page
		ng-if					= "ic.site.visibleSections.page" 
		ng-include 				= "'pages/'+ic.site.page+'.html'"
		id						= "page-{{ic.site.page}}"	
		ic-scroll-top  			= "ic.site.page"
	></ic-page>

	<ic-footer></ic-footer>

</article>


<button 
	class ="round border icon icon-interface-up large"
	ic-scroll-watch = "'page'"
	ng-click = "scrollTop()"
	ic-touch-me
>
	<span class ="sr-only">{{'INTERFACE.SCROLL_TOP' | translate}}</span>
</button>


