<article
	ic-settle-scrollbar					= "true"
	ic-scroll-snap-anchor 				= "header"
	ic-scroll-repeat-limit-container 	= "true"
	class								= ""
>

	<header>
		<a 
			ng-if 		= "ic.site.searchTerm"
			ng-href		= "/p/extended_search"
			class 		= "ic-button border tac icon icon-interface-search left"
			ic-touch-me 
		>
			{{'INTERFACE.RETRY_SEARCH' | translate}}
		</a>
		
		<button
			ng-if 		= "!ic.site.visibleSections.filter"
			class 		= "border tac"
			ng-click 	= "ic.overlays.toggle('taxonomyFilter')"
			ic-touch-me 
		>
			{{'INTERFACE.FILTER' | translate}}
		</button>

		<button 
			ng-if 		= "!ic.site.visibleSections.map"
			class 		= "border tac"
			ng-click 	= "ic.site.expandMap = true"
			ic-touch-me 
		>
			{{'INTERFACE.MAP' | translate}}
		</button>

		
		<div class ="flex-grow"></div>
		
		<ic-sorting	>
		</ic-sorting>

	</header>

	

	<ic-search-result-list>
	</ic-search-result-list>

</article>