<section 
	class = "types" 
	ng-if = "ic.taxonomy.types && ic.taxonomy.types.length > 0"
>

<!-- 	<button
		class 		= "icon section-toggle"
		ng-class	= "{'icon-interface-down open': expanded, 'icon-interface-right': !expanded}"
		ng-click	= "expanded = !expanded"
		ic-touch-me	= "true" 
	>
		{{'ITEMS.TYPE' | translate}}
	</button> -->

	<div>

		<button
			class 		= "icon icon-interface-radio"
			ng-class	= "{'checked':ic.filterConfig.typeCleared()}"
			ng-click	= "ic.filterConfig.clearType()" 
			ic-touch-me	= "true"
		>
			<div>{{'INTERFACE.FILTER_ANY' | translate}}</div>
			<span 
				class 		= "bubble shade-light"
				ng-if 		= "!disabled"
			>
				<span>{{matchesIgnoringType()}}</span>	
				<span ng-if = "matchesIgnoringType() != totalsIgnoringType()">
					/
				</span>
				<span ng-if = "matchesIgnoringType() != totalsIgnoringType()">
					{{totalsIgnoringType()}}
				</span>			
			</span>
		</button>

		<button
			ng-repeat 	= "type in ic.taxonomy.types"
			class 		= "icon icon-type-{{::type.name}}"
			ic-button	= "{active:ic.filterConfig.typeActive(type.name), disabled: !ic.itemStorage.currentStats.altMatches[type.name]}"
			ng-class	= "{'checked':active, disabled: disabled}"
			ng-disabled	= "disabled"
			ng-click	= "!disabled && ic.filterConfig.toggleType(type.name, undefined, true)"
			ic-touch-me	= "!disabled"
			title		= "{{'INTERFACE.TOGGLE_TYPE_FILTER_%s' | fill: !!active | translate}}: {{'TYPES.%s' | fill : type.name |translate}}"
		>
			<div>{{'TYPES.%s' | fill : type.name |translate}} </div>
			<span 
				class 		= "bubble shade-light"
				ng-if 		= "!disabled"
			>
				<span>
					{{ic.itemStorage.currentStats.altMatches[type.name]}}
				</span>
				<span ng-if = "ic.itemStorage.currentStats.altMatches[type.name] != ic.itemStorage.currentStats.totals[type.name]">
					/
				</span>
				<span ng-if = "ic.itemStorage.currentStats.altMatches[type.name] != ic.itemStorage.currentStats.totals[type.name]">
					{{ic.itemStorage.currentStats.totals[type.name]}}
				</span>
			</span>
		</button>

	</div>

</section>

<ic-taxonomy-filter-categories
	expanded 				= "true"
	show-sub-categories 	= "true"
>
</ic-taxonomy-filter-categories>

<section 
	class 		= "unsorted"
	ng-repeat 	= "(key, tagGroup) in ic.taxonomy.tags" 
	ng-if		= "!['lists', 'lor_dst', 'lor_pgr', 'lor_bzr', 'options_ri', 'options_sp', 'extra', 'default_languages', 'state'].includes(key)"
>
	<button
		class 		= ""
		ng-click	= "ic.overlays.toggle('taxonomyOverlay_'+key)"
		ic-button	= "{'active': !ic.filterConfig.unsortedTagCleared(tagGroup)}"
		ng-class	= "{'checked': active}"
		ic-touch-me	= "true" 
	>
		{{ 'INTERFACE.TAGS_%s' | fill : key| translate}}
		<div
			ng-if	= "active"
			class	= "counter"
			title	= "{{'INTERFACE.NUMBER_OF_ACTIVE_FILTERS' | translate}}: {{ (tagGroup | filter : ic.filterConfig.unsortedTagActive).length}}"
		>
			<span 
				ng-repeat 	= "tag in tagGroup | filter : ic.filterConfig.unsortedTagActive"	
				class		= "tick"
			>
			</span>
		</div>
	</button>
	
</section>



