<button 
	class 		= "icon icon-interface-close large close"
	ng-click	= "ic.overlays.toggle()" 
>
</button>



<h2 ng-if = "icExpand == 'categories'">{{'INTERFACE.CATEGORIES' | translate}}</h2>

<h2 ng-if = "icExpand == 'lor'">{{'INTERFACE.LOR' | translate}}</h2>	

<h2 ng-if = "!['categories', 'lor'].includes(icExpand)">{{'INTERFACE.TAGS_%s' | fill : icExpand | translate}}</h2>	

<input 
	ng-if		= "icExpand == 'languages'"
	type 		= "text" 
	ng-model 	= "filter[icExpand]" 
	placeholder = "{{'INTERFACE.FILTER' | translate }}" 
/>

<div
	class 		= "bg-0"
	ng-if		= "icExpand == 'categories'"
>
	<button
		ng-if		= "true"
		class 		= "icon icon-interface-radio left"
		ng-class	= "{'round checked activated':ic.filterConfig.categoryCleared()}"
		ng-click	= "ic.filterConfig.clearCategory()" 
	>
		<div>{{'INTERFACE.FILTER_ANY' | translate}}</div>
	</button>

	<button
		ng-repeat 	= "category in ic.taxonomy.categories | orderBy : ic.utils.evalItems('item.name.substr(0,4) == \'misc\' ? null : (\'CATEGORIES.%s\' | fill : item.name | translate)')"
		ng-if		= "!filter || ('CATEGORIES.%s' | fill : category.name | translate | match : filter[icExpand])"
		class		= "icon icon-category-{{::category.name}} left"
		ic-button	= "{active:ic.filterConfig.categoryActive(category.name), disabled: !ic.itemStorage.currentStats.altMatches[category.name]}"
		ng-class	= "{disabled: disabled}"
		ng-click	= "!disabled && ic.filterConfig.toggleCategory(category.name, undefined, true);"
	>

		<div>{{'CATEGORIES.%s' | fill : category.name | translate}}</div>
		
		<span 
			class 		= "bubble shade-light "
			ng-class	= "{'col-2': active, 'col-1': !active}"
			ng-if 		= "!disabled"
		>
			<span>
				{{ic.itemStorage.currentStats.altMatches[category.name]}}
			</span>
			<span ng-if = "ic.itemStorage.currentStats.altMatches[category.name] != ic.itemStorage.currentStats.totals[category.name]">
				/
			</span>
			<span ng-if = "ic.itemStorage.currentStats.altMatches[category.name] != ic.itemStorage.currentStats.totals[category.name]">
				{{ic.itemStorage.currentStats.totals[category.name]}}
			</span>
		</span>
	</button>
</div>



<div 
		class 		= "bg-0"
		ng-if		= "icExpand == key && [].indexOf(key) == -1"
		ng-repeat	= "(key, tagGroup) in ic.taxonomy.tags"
	>
	<button
		class 		= "icon icon-interface-radio left"
		ng-class	= "{'round checked activated':ic.filterConfig.unsortedTagCleared(tagGroup)}"
		ng-click	= "ic.filterConfig.clearUnsortedTag(tagGroup)" 
	>
		<a>{{'INTERFACE.FILTER_ANY' |translate}}</a>
	</button>
	<button
		ng-repeat 	= "tag in tagGroup | orderBy : ic.utils.evalItems('item.substr(0,4) == \'misc\' ? null :(\'UNSORTED_TAGS.%s\' | fill : item | translate)')"
		ng-if		= "!filter || ('UNSORTED_TAGS.%s' | fill : tag | translate | match : filter[icExpand])"
		class		= "icon icon-interface-checkbox left"
		ic-button	= "{active:ic.filterConfig.unsortedTagActive(tag), checked:ic.filterConfig.unsortedTagActive(tag), disabled: !ic.itemStorage.currentStats.subMatches[tag]}"
		ng-class	= "{checked:active, disabled: disabled}"
		ng-click	= "!disabled && ic.filterConfig.toggleUnsortedTag(tag)"
	>
		<div>{{'UNSORTED_TAGS.%s' | fill : tag | translate }}</div>
		<span 
			class 		= "bubble shade-light col-1"
			ng-if 		= "!disabled"
		>
			<span>
				{{ic.itemStorage.currentStats.subMatches[tag]}}
			</span>
			<span ng-if = "ic.itemStorage.currentStats.subMatches[tag] != ic.itemStorage.currentStats.totals[tag]">
				/
			</span>
			<span ng-if = "ic.itemStorage.currentStats.subMatches[tag] != ic.itemStorage.currentStats.totals[tag]">
				{{ic.itemStorage.currentStats.totals[tag]}}
			</span>
		</span>
	</button>
</div>



<div class = "actions">
	<button 
		class		= "prio"
		ng-click	= "ic.overlays.toggle()" 
	>
		{{'INTERFACE.APPLY_FILTERS' | translate}}
	</button>
</div>

