<section 
	ng-if = "ic.taxonomy.categories && ic.taxonomy.categories.length > 0"
	class = "categories"
>
	<button
		class 		= "icon section-toggle"
		ng-class	= "{'icon-interface-down open': expanded, 'icon-interface-right': !expanded}"
		ng-click	= "expanded = !expanded"
		ic-touch-me	= "true" 
	>
		{{'INTERFACE.CATEGORIES' | translate}}
	</button>

	<div 
		class 		= ""
		ng-if		= "expanded"		
	>
		<button
			ng-if		= "true"
			class 		= "icon icon-interface-radio"
			ng-class	= "{'checked':ic.filterConfig.categoryCleared()}"
			ng-click	= "ic.filterConfig.clearCategory()" 
			ic-touch-me	= "true"
		>
			<div>{{'INTERFACE.FILTER_ANY' | translate}}</div>
		</button>

		<div
			class 		= "category" 
			ng-class	= "{ open: ic.filterConfig.categoryActive(category.name)}"
			ng-repeat 	= "category in ic.taxonomy.categories"
		>

			<button
				ng-if			= "true"
				class			= "icon icon-category-{{::category.name}}"
				ic-button		= "{active:ic.filterConfig.categoryActive(category.name), disabled: !ic.itemStorage.currentStats.altMatches[category.name]}"
				ng-class		= "{'checked':active, disabled: disabled}"
				ng-click		= "!disabled && ic.filterConfig.toggleCategory(category.name, undefined, true);"
				ic-touch-me		= "!disabled"
			>
				<div>{{'CATEGORIES.%s' | fill : category.name | translate}}</div>
				<span 
					class 		= "bubble"
					ng-class	= "{'shade-dark': active, 'shade-light': !active}"
					ng-if 		= "!disabled"
				>
					<span>
						{{ic.itemStorage.currentStats.altMatches[category.name]}}
					</span>
					<span ng-if = "ic.itemStorage.currentStats.altMatches[category.name] != ic.itemStorage.currentStats.totals[category.name]">
						/
					</span>
					<span ng-if = "ic.itemStorage.currentStats.altMatches[category.name] != ic.itemStorage.currentStats.totals[category.name]">
						{{ic.itemStorage.currentStats.totals[category.name]}}
					</span>
				</span>
			</button>


			<!-- subcategories -->

			<div 
				class = "sub-categories"
				ng-if = "showSubCategories && category.tags && category.tags.length > 0"
			>
				<button
					class		= "toggle default"				
					ic-button	= "{active:!ic.filterConfig.categoryActive(category.tags)}"					
					ng-class	= "{'checked':active}"						
					ng-click	= "!active && ic.filterConfig.clearCategory(category.tags)"
				>
					<div>{{'INTERFACE.FILTER_ANY' | translate}}</div>
				</button>

				<button	
					ng-repeat 	= "tag in category.tags"
					class		= "toggle"					
					ic-button	= "{active:ic.filterConfig.categoryActive(tag), disabled: !ic.itemStorage.currentStats.altMatches[tag]}"
					ng-class	= "{'checked':active, disabled: disabled}"
					ng-click	= "!disabled && ic.filterConfig.toggleCategory(tag, undefined, true, category.tags)"
				>

					<div>{{'CATEGORIES.%s' | fill : tag | translate}}</div>
					<span 
						ng-if 		= "!disabled"
						class 		= "bubble shade-dark"
					>
						<span>
							{{ic.itemStorage.currentStats.altMatches[tag]}}
						</span>
						<span ng-if = "ic.itemStorage.currentStats.altMatches[tag] != ic.itemStorage.currentStats.totals[tag]">
							/
						</span>
						<span ng-if = "ic.itemStorage.currentStats.altMatches[tag] != ic.itemStorage.currentStats.totals[tag]">
							{{ic.itemStorage.currentStats.totals[tag]}}
						</span>

					</span>

				</button>

			</div>


		</div>


	</div>

</section>
