:root{
	--primary-color:					#80ffe0;
	--primary-contrast:					#000;
	--secondary-color:					#ff4b00;
	--secondary-contrast:				#000;



	--primary-text-color:				#424242;
	--secondary-text-color:				#666;

	--dark-text-color:					var(--primary-text-color);			/* legacy */
	--plain-text-color:					var(--secondary-text-color);		/* legacy */
	--light-text-color:					var(--primary-text-color-contrast);	/* legacy */


	--primary-background-color:			#fff;
	--primary-background-contrast:		var(--primary-text-color);
	--secondary-background-color:		#888;
	--secondary-background-contrast:	var(--primary-text-color);;
	--emphasized-background-color:		#BFFFF0;
	--emphasized-background-contrast:	var(--primary-text-color);

	--neutral-color:					#949494; /*lagacy*/
	--error-color:						red;


	--primary-accent-color:				var(--primary-color);
	--primary-accent-contrast:			var(--primary-contrast);
	--secondary-accent-color:			#ffd2bf;
	--secondary-accent-contrast:		var(--primary-text-color);

	--active-color:						#007458; /*legacy*/

}



:root.ic-font-size-adjusted {

	--dark-text-color:				#111;	
	--light-text-color:				#fff;
	--plain-text-color:				#222;

}

.bg-5 {
	background-color:				#ffd2bf;
	color:							var(--dark-text-color);
}
