:root{
	--primary-color:				#7FFEE0;
	--primary-contrast:				#000;
	--secondary-color:				#5e200e;
	--secondary-contrast:			#000;

	--dark-text-color:				#000;	
	--plain-text-color:				#000;
	--light-text-color:				#fff;

	--primary-background-color:		#fff;
	--secondary-background-color:	#fff;

	--neutral-color:				#949494;
	--error-color:					red;

	--active-color:					#ffa580;
	
}



:root.ic-font-size-adjusted {

	--dark-text-color:				#111;	
	--light-text-color:				#fff;
	--plain-text-color:				#222;

}
