:root{
	--primary-color:				#7FFEE0;
	--primary-contrast:				#000;
	--secondary-color:				#ff4b00;
	--secondary-contrast:			#000;

	--dark-text-color:				#000;	
	--plain-text-color:				#000;
	--light-text-color:				#fff;

	--primary-background-color:		#fff;
	--secondary-background-color:	#eee;

	--neutral-color:				#949494;
	--error-color:					red;


	--primary-accent:				var(--primary-color);
	--secondary-accent:				#ffa580;

	--active-color:					#007458;

}



:root.ic-font-size-adjusted {

	--dark-text-color:				#111;	
	--light-text-color:				#fff;
	--plain-text-color:				#222;

}

.bg-5 {
	background-color:				#ffd2bf;
	color:							var(--dark-text-color);
}


/*TODO: REMOVE ME!!*/
.bg-3.white {
	background-color:				var(--active-color) !important;
}