:root{
	--primary-color:					#7FFEE0;
	--primary-contrast:					#000;
	--secondary-color:					#ff4b00;
	--secondary-contrast:				#000;



	--primary-text-color:				#000;
	--primary-text-color-contrast:		#fff;

	--secondary-text-color:				#666;
	--secondary-text-color-contrast:	#ccc;


	--dark-text-color:					var(--primary-text-color);			/* legacy */
	--plain-text-color:					var(--secondary-text-color);		/* legacy */
	--light-text-color:					var(--primary-text-color-contrast);	/* legacy */


	--primary-background-color:		#fff;
	--secondary-background-color:	#eee;

	--neutral-color:				#949494;
	--error-color:					red;


	--primary-accent:				var(--primary-color);
	--primary-accent-contrast:		var(--primary-contrast);
	--secondary-accent:				#ffa580;
	--secondary-accent-contrast:	var(--primary-text-color);

	--active-color:					#007458; /*legacy*/

}



:root.ic-font-size-adjusted {

	--dark-text-color:				#111;	
	--light-text-color:				#fff;
	--plain-text-color:				#222;

}

.bg-5 {
	background-color:				#ffd2bf;
	color:							var(--dark-text-color);
}
