

/* ic-text-logo */


ic-logo-full, 
ic-logo-print {
	display:						inline-block;
	background-image:				url(/images/large/logo.svg);
	background-repeat:				no-repeat;
	background-size:				contain;
	background-position: 			0 50%;
	height:							1em;
	width:							3.5em;
}


ic-logo-line{
	display:						inline-block;
	background-image:				url(/images/large/logo_line.svg);
	background-repeat:				no-repeat;
	background-size:				auto 0.7em;
	background-position: 			0 50%;
	height:							1em;
	width:							7em;
}

ic-logo-print {
	filter:						brightness(0);
}
