

.padding-s {
	padding:					.25rem .5rem;
}

.XS .padding-s {
	padding:					.25rem .5rem !important;
}

.padding {
	padding:					0.5rem 1rem;
}


.neg-h-margin-s{
	margin:						0 -0.5rem;
}

.half-padding{
	padding: 					0.5rem;
}

.XS .padding {
	padding:					1rem 0;
}

.round {
	border-radius:				999rem;
}

.rounded {
	border-radius:				1em;
}

.large {
	font-size:					1.5em !important;
}
.x-large{
	font-size:					2em !important;
}

.mini {
	font-size:					0.75em !important;
}


.normal {
	font-size:					1rem !important;
}


[disabled],
.disabled {
	opacity:					0.4;
	cursor:						auto !important;
}

.bubble {
	display:					inline-flex;
	flex-wrap:					nowrap !important;
	font-size:					0.8em;
	box-sizing:					border-box;
	padding:					0 0.4em;
	margin-left: 				0.4rem;
	border-radius:				1em;
	min-width:					1.75em;
	align-items:				center;
	justify-content:			center;
	line-height:				1.7em;
	white-space:				nowrap;
}

.bubble > * {
	display:					block;
	white-space:				nowrap;	
}

.ic-tag {
	display:					inline-flex;
	background-color:			#99999a;
	color:						#fff;
	padding: 					0.25em 0.75em;
	border-radius: 				0.175em;
	line-height: 				1.25em;
	margin-bottom: 				0.25em;
	margin-right: 				0.5rem;
	font-weight: 				500;
	text-shadow: 				0 0 0.2em rgba(0,0,0,0.25);
	letter-spacing: 			0.02em;
	box-shadow: 				0 0.1em 0.2em rgba(0,0,0,0.15);
	overflow:					hidden;
	white-space: 				nowrap;
	text-overflow:				ellipsis;
	align-items:				baseline;
}

.ic-tag > * {
	flex:						0 0 auto;
}


hr {
	display:				block;
	height:					0;
	width:					auto;
	border:					0;
	border-top:				1px solid transparent !important;
	margin:					0.5rem -1px;
}
