ic-footer .image {
	height:						6rem;
	width:						20rem;
	max-width:					95%;
	background-size:			contain;
	background-position: 		50% 50%;
	background-repeat:			no-repeat;
	margin:						2rem auto;
}


ic-header .logo {
	justify-content:			flex-start;
	align-items: 				start;
	margin-left:				2rem;
}

ic-header .logo ic-logo-full {
	font-size:					6rem;
	margin-top: 				0.5rem;
}

/* main menu*/

ic-header ic-main-menu  {
	padding-left:				1rem;
}

/* filter overlays: */


ic-taxonomy-overlay {
	padding-top:				0;
	padding-left:				1rem;
	padding-right:				1rem;
	padding-bottom:				1rem;
}

ic-taxonomy-overlay h2 {
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem;
	text-align: center;
	width: auto!important;
	max-width: 90%;
}


ic-taxonomy-overlay h2 + input {
	margin:						1rem auto;
	width:						18rem !important;
}


ic-taxonomy-overlay ul, /*alt*/
ic-taxonomy-overlay > div {
	display:					flex;
	padding-left:				0 !important;
	padding-right:				0 !important;
	padding-top:				0 !important;
	padding-bottom:				0 !important;
	margin:						auto;
	max-width:					45rem;
	flex-wrap:					wrap;
	width:						auto !important;
	justify-content: 			space-between;
}

ic-taxonomy-overlay ul li, /*alt*/
ic-taxonomy-overlay > div button {
	flex:						0 0 20rem;
	display:					inline-flex !important;
	align-items:				center;
	justify-content:			start;
	padding-left:				3rem;
	padding-right:				0.5rem;
	padding-top:				0.5rem;
	padding-bottom:				0.5rem;
	background-position:		0.75rem 50% !important;
	margin-bottom:				0.25rem !important;
	text-align: 				left;
}


ic-taxonomy-overlay ul li:first-child, /*alt*/
ic-taxonomy-overlay > div button:first-child {
	flex:						0 1 100%;
}

ic-taxonomy-overlay ul li div, /* alt */
ic-taxonomy-overlay > div button div {
	flex:						1 1 auto;
	display:					inline-block;
	vertical-align:				middle;
}

ic-taxonomy-overlay ul li .bubble, /* alt */
ic-taxonomy-overlay > div button .bubble {
	display:					flex;
	flex:						0 0 auto;
}

ic-taxonomy-overlay .actions {
	display: 					block;
	margin-top: 				2rem;
	text-align: 				right;
}

/* sponsors */


ic-page header > .image {
	position: 					absolute;
	height: 					8rem;
	width: 						8rem;
	right: 						1rem;
	top: 						1rem;
	padding: 					0;
	z-index: 					99;
	filter: 					drop-shadow(0 0.25rem .35rem rgba(0,0,0,0.5));
}

.XS ic-page header > .image {
	height: 					6rem;
	width: 						6rem;
}


ic-page #sponsors {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			space-around;
	text-align:					left;
	margin-bottom:				1rem;
}

ic-page #sponsors > *{
	flex:						0 0 auto;	
	width:						15rem;
	max-width:					100%;
}

ic-page #sponsors > * .logos{
	flex:						1 0 auto;
	display:					flex;
	flex-direction:				column;
	justify-content:			center;	
	align-items:				center;
	margin:						auto;
}

ic-page #sponsors > * .logos a {
	flex:						0 0 auto;
	display:					block;
	background-size:			contain;
	background-repeat:			no-repeat;
	background-position:		50% 50%;
	width:						100%;
	height:						10rem;
	flex-direction:				column;
}


/* item proprties */

ic-item-property .title {
	font-weight:			500;
	line-height:			1.5rem;
} 



/* contact portraits */

.portrait {
	display: 				block;
	height: 				10rem;
	width: 					10rem;

	float: 					right;

	border-radius: 			100%;

	background-size: 		cover;
	background-position: 	center;
	background-repeat: 		no-repeat;
	background-color: 		var(--primary-color);

}

.XS .portrait {
	float: 					none;
	margin: 				auto;
}

.portrait-ines {
	background-image: 		url('/assets/ines.jpg')
}

.portrait-melanie {
	background-image: 		url('/assets/melanie.jpg')
}

.hr-no-header {
	margin-top:					1rem;
	margin-bottom:				0;
}

.districts-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card {
	float: left;
  width: 400px;             
  display: flex;            
  flex-direction: column;   
  border: 1px solid #D7D7E4;    
  overflow: hidden;
  margin: 0 20px 20px 0;
  font-size: 1.3rem;
}

.card-header {
  color: #373475;
  font-weight: normal;
  line-height: 1.2;
  background-color: #D7D7E4;
  padding: 8px 10px 5px;
}

.card-main {
  display: flex;          
  flex-direction: row-reverse; 
  justify-content: space-between;
  padding: 5px 10px;
  color: #373475; 
  font-weight: lighter;
}

.card-bg-dark {
	color: white;
	background-color: #373475;
}

.card-image {
  align-self: flex-end;
}

.card-text {
	max-width: 50%;
	align-self: flex-end;
}

 .box {
        display: flex;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 160px;
    }
