ic-footer .image {
	height:						6rem;
	width:						20rem;
	max-width:					95%;
	background-size:			contain;
	background-position: 		50% 50%;
	background-repeat:			no-repeat;
	margin:						2rem auto;
}

ic-header .logo {
	justify-content:			flex-start;
	align-items: 				start;
	margin-left:				2rem;
}

ic-header .logo ic-logo-full {
	font-size:					6rem;
	margin-top: 				0.5rem;
}

/* main menu*/

ic-header ic-main-menu  {
	padding-left:				1rem;
}

/* filter overlays: */


/* sponsors */


ic-page header > .image {
	position: 					absolute;
	height: 					8rem;
	width: 						8rem;
	right: 						1rem;
	top: 						1rem;
	padding: 					0;
	z-index: 					99;
	filter: 					drop-shadow(0 0.25rem .35rem rgba(0,0,0,0.5));
}

.XS ic-page header > .image {
	height: 					6rem;
	width: 						6rem;
}

ic-page .tiles>:focus .background,ic-page .tiles>:hover .background {
    background-color: #075002!important;
    opacity: 1!important
}


ic-page #sponsors {
	display:					flex;
	flex-wrap:					wrap;
	justify-content: 			space-around;
	text-align:					left;
	margin-bottom:				1rem;
}

ic-page #sponsors > *{
	flex:						0 0 auto;	
	width:						15rem;
	max-width:					100%;
}

ic-page #sponsors > * .logos{
	flex:						1 0 auto;
	display:					flex;
	flex-direction:				column;
	justify-content:			center;	
	align-items:				center;
	margin:						auto;
}

ic-page #sponsors > * .logos a {
	flex:									0 0 auto;
	display:							block;
	background-size:			contain;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	width:								100%;
	height:								6rem;
	flex-direction:				column;
}


/* item proprties */

ic-item-property .title {
	font-weight:			500;
	line-height:			1.5rem;
}


/* contact portraits */

.portrait {
	display: 				block;
	height: 				10rem;
	width: 					10rem;

	float: 					right;

	border-radius: 			100%;

	background-size: 		cover;
	background-position: 	center;
	background-repeat: 		no-repeat;
	background-color: 		var(--primary-color);

}

.XS .portrait {
	float: 					none;
	margin: 				auto;
}

.portrait-ines {
	background-image: 		url('/assets/ines.jpg')
}

.portrait-melanie {
	background-image: 		url('/assets/melanie.jpg')
}

.hr-no-header {
	margin-top:					1rem;
	margin-bottom:				0;
}

.districts-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card {
	float: left;
  width: 400px;             
  display: flex;            
  flex-direction: column;   
  border: 1px solid #D7D7E4;    
  overflow: hidden;
  margin: 0 20px 20px 0;
  font-size: 1.3rem;
}

.card-header {
  color: #096402;
  font-weight: normal;
  line-height: 1.2;
  background-color: #D7D7E4;
  padding: 8px 10px 5px;
}

.card-main {
  display: flex;          
  flex-direction: row-reverse; 
  justify-content: space-between;
  padding: 5px 10px;
  color: #096402; 
  font-weight: lighter;
}

.card-bg-dark {
	color: white;
	background-color: #096402;
}

.card-image {
  align-self: flex-end;
}

.card-text {
	max-width: 50%;
	align-self: flex-end;
}

 .box {
        display: flex;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 160px;
    }

.no-header-spacer {
	height: 60px
}

.margin-tb {
	margin: 2rem 0;
}

.expandible-latlon {
	position: relative;
}



ic-item-full-header.ic-scroll-top nav {
	top:								0rem;
}



/* 
	Safeguard to mark section in item edit where the heading indicates a mandatory input, 
	but the input is in fact not.
*/

ic-item-full-edit h4.mandatory + ic-item-property-edit:not(.mandatory){
	background-color:				rgba(100,100,200, 0.5) !important;
}

ic-item-full-edit h4:not(.mandatory) + ic-item-property-edit.mandatory{
	background-color:				rgba(100,100,200, 0.5) !important;
}

ic-item-full-edit h4.mandatory:after {
	content:							'*';
}

