:root {
	--icon{{-name[0]}}{{-name[1]}}{{-name[2]}}{{-name[3]}}: url("data:image/svg+xml,{{svg}}");
}

.bg-3 .icon{{-name[0]}}{{-name[1]}}.white{{.name[3]}}, 
.icon{{-name[0]}}{{-name[1]}}{{.name[2]}}{{.name[3]}} {
	background-image: 	var(--icon{{-name[0]}}{{-name[1]}}{{-name[2]}}{{-name[3]}});
}

.bg-3.icon{{-name[0]}}{{-name[1]}}.white{{.name[3]}} {
	background-image:	var(--icon{{-name[0]}}{{-name[1]}}{{-name[3]}}) !important;
}
