ic-calendar-sheet {
	z-index:			2;
	display:			flex;
	flex-direction:		column;
	border:				round(down, 0.1rem, 1px) solid rgba(0,0,0,1);
	border-radius:		0.625rem;
	height:				3.5rem;
	width:				3.5rem;
	align-items:		center;
	justify-content:	center;
	box-sizing: 		border-box;
}

ic-calendar-sheet .day {	
	font-size:			1.25rem;	
	font-weight:		bold;	
}

ic-calendar-sheet .month {
	font-size:			0.9rem;
	text-transform:		uppercase;
	font-weight:		bold;	
}