html,
ic-tag,
ic-page .tiles > * > small,
.bubble
{
	font-family:				Fira Sans, sans-serif;
}

h1,
ic-page p,
ic-page a.boxed,
ic-page .tiles > *,
ic-page p,
ic-page a.boxed
{
	font-family: 				Fira Sans, sans-serif;
}

h2,h3,h4,h5,h6 {
	font-family:				Fira Sans, sans-serif;
}


ic-header ic-main-menu {
	font-family: 				Fira Sans, sans-serif;
}

ic-header ic-main-menu ul > li > ul > li {
	font-family: 				Fira Sans, sans-serif;
}
