/* ic header */

ic-header {
	display:						block;
	box-sizing: 					border-box;
}

ic-header a,
ic-header button {
	display:						flex !important;
	align-items:					center !important;
}


ic-header .upper-row {
	display:						flex;
	justify-content:				space-between;
	font-size:						1.125rem;
	overflow:						hidden;
}

ic-header .upper-row > * {
	display:						flex;
	align-items:					center;
	gap:							min( max(1rem, 5%), 2rem);
}

ic-header .upper-row button {
	padding:						0 !important;
}

ic-header .upper-row ic-logo-full {
	font-size:						5rem;
	margin:							-0.5rem;
}

ic-header .upper-row .start {
	flex:							0 0 auto;
	display:						flex;
	justify-content:				flex-start;
}


ic-header .upper-row .end {
	flex:							1 0 0;
	display:						flex;
	justify-content:				flex-end;
	gap:							0.5rem;
}

ic-header .upper-row .end a .icon {
	font-size:						1.5em;
	margin-right:					0.3333em;
}




ic-header .lower-row {
	display:						flex;
	justify-content:				space-between;
	overflow-x:						scroll;
	background-color:				var(--primary-color);
}

ic-header .lower-row > * {
	flex:							0.1 0 auto;
	display:						block;
}

ic-header .lower-row:before,
ic-header .lower-row:after  {
	content:						'';
	flex:							1 1 10%;
}


.XS ic-header .upper-row {
	padding:						0.5rem;
	font-size:						1rem;
}

.XS ic-header .upper-row .start {
	flex:							0 0 auto;
}


.XS ic-header .upper-row .start ic-logo-full {
	font-size:						3em;
}

.XS ic-header .upper-row .end {
	font-size:						1.5rem;
}

.XS ic-header .upper-row .icon {
	font-size:						2rem !important;
	margin:							0 !important;
}
