/* ic header */

ic-header {
	display:						block;
	box-sizing: 					border-box;
}

ic-header a,
ic-header button {
	display:						flex !important;
	align-items:					center !important;
}


ic-header .upper-row {
	display:						flex;
	justify-content:				space-between;
	font-size:						1.125rem;
	overflow:						hidden;
}

ic-header .upper-row > * {
	display:						flex;
	align-items:					center;
	gap:							min( max(1rem, 5%), 2rem);
}

ic-header .upper-row ic-logo-full {
	font-size:						5rem;
	margin:							-0.5rem;
}

ic-header .upper-row .start {
	flex:							1 0 0;
	display:						flex;
	justify-content:				flex-start;
}


ic-header .upper-row .center {
	flex:							0 0 auto;
	display:						flex;	
}

ic-header .upper-row .end {
	flex:							1 0 0;
	display:						flex;
	justify-content:				flex-end;
}






ic-header .lower-row {
	display:						flex;
	justify-content:				space-between;
	gap:							1rem;
}

ic-header .lower-row > * {
	flex:							0.1 0 auto;
	display:						block;
}

ic-header .lower-row:before,
ic-header .lower-row:after  {
	content:						'';
	flex:							1 1 10%;
}

