textarea, 
input, 
button, 
select { 
	font-family: 		inherit; 
	font-size: 			inherit; 
}


:root{
	--button-border-width: 			1px;
	--button-border-width: 			round(down, 0.1rem, 1px);
	--button-border-color:			#000;
	--button-horizontal-padding:	1rem;
	--button-vertical-padding:		0.25rem;
	--button-border-radius:			2rem;
}

input, 
button, 
select,
button:active,
button:hover,
button:focus,
select:active,
select:hover,
select:focus {
	display:					inline-block;
	border-style:				none;
	color: 						var(--primary-text-color);
	-webkit-appearance: 		none;
}

label {
	display:					flex;
	align-items: 				center;
	cursor:						pointer;
}

select::-moz-focus-inner,
button::-moz-focus-inner {
    padding:					0;
    border:						0;
}


select,
button,
a.ic-button {
	display:					inline-block;
	cursor:						pointer;
	background-color:			var(--primary-background-color, #fff);
	border-radius:				var(--button-border-radius);	
	border-width:				var(--button-border-width);
	border-color:				var(--button-border-color);
	border-style:				none;
	padding:					var(--button-vertical-padding) var(--button-horizontal-padding);
}

select.icon.right,
button.icon.right,
a.ic-button.icon.right {
	padding-right:				2rem;
	background-position:		calc(100% - 0.5rem)
}

select.icon.left,
button.icon.left,
a.ic-button.icon.left {
	padding-left: 				2rem;
	background-position:		0.5rem;
}


select.border,
button.border,
a.ic-button.border {
	border-style:				solid
}

select.activated,
button.activated,
a.ic-button.activated {
	color:						var(--emphasized-background-contrast);
	background-color:			var(--emphasized-background-color);
}

button.prio,
a.ic-button.prio {
	color:						var(--emphasized-background-contrast);
	background-color:			var(--emphasized-background-color);
}

button.prio:hover,
a.ic-button.prio:hover {
	color:						var(--emphasized-background-contrast);
	background-color:			var(--emphasized-background-color);
}

button.prio:disabled,
a.ic-button.prio:disabled {
	color:						var(--secondary-background-contrast);
	background-color:			var(--secondary-background-color);
	border-style:				solid;
	opacity:					0.5;
}



select.removable,
button.removable,
a.ic-button.removable {
	color:						var(--secondary-background-contrast)  !important;
	background-color:			var(--secondary-background-color) !important;
	animation:					removable-enter 500ms;
	padding-top:				0.125em;
	padding-bottom:				0.125em;
}

select.removable:hover,
button.removable:hover,
a.ic-button.removable:hover {
	background-color:			hsl(from var(--secondary-background-color) h s calc(l * 0.95) ) !important;
}

select.removable.all,
button.removable.all,
a.ic-button.removable.all {
	background-color:			hsl(from var(--secondary-background-color) h s calc(l * 0.85) ) !important;
}

select.removable.all:hover,
button.removable.all:hover,
a.ic-button.removable.all:hover {
	background-color:			hsl(from var(--secondary-background-color) h s calc(l * 0.80) ) !important;
}

@keyframes removable-enter {
	0% {
		transform:				scale(0.8);
	}

	60%{
		transform:				scale(1.05);
	}

	100%{
		transform:				scale(1.0);
	}
}



select.rounded,
button.rounded,
a.ic-button.rounded {
	border-radius:				var(--button-border-radius) !important;
}

select {
	appearance: 		none;	
}

.emph {
	background-color:	var(--primary-accent);
}

.activated {
	background-color:	var(--secondary-accent);
}


