ic-item-full-edit {
	display:					block;
	box-sizing:					border-box;
	position:					relative;
	padding:					5rem 0rem !important;
}

ic-item-full-edit > section {
	padding-left:				4rem;
	margin-right:				5rem;
}

ic-item-full-edit section,
ic-item-full-edit article {
	position:					relative;
}

ic-item-full-edit > section.properties {

	border-top-width:			2px;
	border-bottom-width: 		2px;
	border-right-width: 		0;
	border-left-width:			0;

	border-top-width:			round(down, 0.2rem, 1px);
	border-bottom-width: 		round(down, 0.2rem, 1px);

	border-style:				solid;
	border-color:				var(--primary-color);

	margin-top:					1rem;
	margin-bottom:				1rem;
}
ic-item-full-edit > section.properties + section.properties {
	border-top-width:			0;
	margin-top:					-1rem;
}

ic-item-full-edit > section.properties > [ic-extend] {
	padding-bottom:				0rem;
	transition-property:		height, padding-bottom;
}

ic-item-full-edit > section.properties > [ic-extend].extended {
	padding-bottom:				1rem;
	transition-property:		height, padding-bottom;
}
 
ic-item-full-edit > section  .split {
	display:					flex;
	flex-wrap:					wrap;
	margin:						0;
	gap:						1rem;
	justify-content:			space-around;
	margin:						1rem 0;
}

ic-item-full-edit > section  .split > * {
	position:					relative;
	flex:						1 1 15rem;
}

ic-item-full-edit > section  .split > *.full {
	flex:						1 1 100%;
}


ic-item-full-edit > section > *:after {
	content:					'';
	flex:						1 0 0;
}


ic-item-full-edit .options button {
	border-radius:				0 !important;
}

ic-item-full-edit  h3 {
	box-sizing:				border-box;
	margin-top:				1rem;
	margin-bottom:			1rem;
	font-weight:			800;
	width:					100%;
}

ic-item-full-edit  h4 {
	margin-top:				0rem;
	margin-bottom:			0rem;
	font-weight:			700;
	line-height:			1.5rem;
}

ic-item-full-edit h4 + a,
ic-item-full-edit  h4 + ic-help {
	position:				absolute;
	top:					0;
	right:					0;
}



ic-item-full-edit .controls {
	display:				flex;
	flex-wrap:				wrap;
	margin:					0rem;
	padding:				1rem;
}

ic-item-full-edit .controls > * {
	flex:					1 0 auto;
	margin:					0.5rem;
}

ic-item-full-edit footer.screen-only {
}



ic-item-full-edit footer button {
	display:					block;
	width:						100%;
	text-align:					left;
	box-sizing:					border-box;
	margin:						1rem 0;
}

ic-item-full-edit footer button > * {
	display:					block;
	width:						16em;
	margin:						auto;
	line-height:				4rem;
	white-space: 				nowrap;
	overflow:					visible;
}

ic-item-full-edit ic-item-property-edit:not(.no-sibling-margin) + ic-item-property-edit:not(.no-sibling-margin) {
	margin-top:					2rem;
}


/* recurring date is meant to overflow the item property edit box, not in this version though: */
ic-item-full-edit .preview-box {
	margin:						0 !important;
}