textarea, 
input, 
button, 
select { 
	font-family: 		inherit; 
	font-size: 			inherit; 
}


:root{
	--button-border-width: 	1px;
	--button-border-color:	#000;
}

input, 
button, 
select,
button:active,
button:hover,
button:focus,
select:active,
select:hover,
select:focus {
	display:			inline-block;
	border:				none;	
	border-style:		none;
	color: 				unset;
	-webkit-appearance: none;
}

label {
	display:			flex;
	align-items: 		center;
	cursor:				pointer;
}

select::-moz-focus-inner,
button::-moz-focus-inner {
    padding:			0;
    border:				0;
}


select,
button,
a.ic-button {
	display:			inline-block;
	cursor:				pointer;
	background-color:	var(--primary-background-color, #fff);
	border-radius:		0;	
		
	padding:			var(--vertical-padding) var(--horizontal-padding);
}

select.removable,
button.removable,
a.ic-button.removable {
	background-color:	#f5f5f5;
	box-shadow:			none !important;
	color:				var(--primary-text-color);
	animation:			removable-enter 500ms;
}

@keyframes removable-enter {
	0% {
		transform:				scale(0.8);
	}

	60%{
		transform:				scale(1.05);
	}

	100%{
		transform:				scale(1.0);
	}
}

select.removable.emph,
button.removable.emph,
a.ic-button.removable.emph {
	background-color:	#dcdcdc;

}

select {
	appearance: 		none;
	padding-top:		0.25rem;
	padding: 			0.25rem 0.5;
}

.emph {
	background-color:	var(--primary-accent);
}

.activated {
	background-color:	var(--secondary-accent);
}


