/* reduce styling to layout and positioning */


ic-item-preview {
	position:				relative;
	display:				flex !important;
	flex:					1 1 0;
	align-items:			center;
	min-height:				5rem;
	padding:				1rem;
	margin:					0 !important;
	align-items:			flex-start;
}

ic-item-preview:before {
	content:				'';	
	background-color:		var(--primary-color);
	opacity:				0.25;
	display:				block;
	position:				absolute;
	z-index:				0;
}

ic-item-preview:active:before,
ic-item-preview.active-item:before {
	top:					0 !important;
	bottom:					0 !important;
	left:					0 !important;
	right:					0 !important;
	
}

ic-item-preview ic-item-badge {
	position:				relative;	
	flex:					0 0 auto;	
	height:					3.5rem;
	width:					3.5rem;
	border-radius:			3.5rem;
}


ic-item-preview .content {
	flex:					1 0 0;	
	position: 				relative;
	margin-left:			1rem;
	display:				flex;
	align-items:			stretch;
	flex-direction:			column;
	padding:				0;
	white-space: 			normal;
}


ic-item-preview .content .title {
	flex:					1 1 auto;
	overflow:				hidden;
	font-weight:			600;
	font-size:				1.25rem;
} 

ic-item-preview .content .brief {
	flex:					1 1 auto;
	max-height:				2.5rem;
	color:					var(--secondary-text-color);
	overflow:				hidden;
	font-weight:			400;
	display: 				-webkit-box;
  	-webkit-line-clamp: 	2;
  	-webkit-box-orient: 	vertical;  
} 

ic-item-preview .content .brief .date {
	color:					#000;
	padding-right:			0.25rem;
}


ic-item-preview .content ic-item-location {
	display:				flex;
	font-size:				1rem;
	margin-top:				1rem;
	flex-direction:			column;
	gap:					0 1em;
	padding-left:			2em;
	background-position:	0 0;
}	


ic-item-preview .content ic-item-location.no-physical-location {
	display:				none;
}

ic-item-preview .auto-translation-indicator {
	position: 				absolute;
	display: 				block;
	bottom: 				0.25rem;
	right: 					0.25rem;
	background-repeat: 		no-repeat;
	background-size: 		contain;
	background-position: 	50% 50%;
	height: 				1rem;
	width: 					1rem;
}




ic-item-badge {
	display:						inline-block;
}
