
html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	overflow:					hidden;
}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;
	box-shadow:					0 0 0.3rem rgba(0,0,0,0.5);
}



ic-main-content,
[ic-main-content] {
	flex-grow:					1;
	display:					flex;
	flex-direction:				row;
	overflow:					hidden !important;
	height:						100%;
	align-items:				stretch;
	z-index: 					1;
	padding-left:				1rem;
}

.XS ic-main-content,
.XS [ic-main-content] {
	padding-left:				0;
}

ic-main-content > *,
[ic-main-content] > * {
	flex:						1 0 auto;
	box-sizing:					border-box;
	position:					relative;
	box-sizing:					border-box;
	overflow-x:					hidden;
	flex-grow:					1;
	height:						100%;
}

ic-main-content 	> *:after,
[ic-main-content] 	> *:after {
	content:					'';
	display:					block;
	height:						0rem;	
}

ic-main-content		>  * ,
[ic-main-content]	>  * {
	margin-left:				-1rem;
}

.XS ic-main-content		>  * ,
.XS [ic-main-content]	>  * {
	margin-left:				0rem;
	max-width:					100%;
}


ic-main-content 	> * > * ,
[ic-main-content]	> * > * {
	box-sizing: 				border-box;
	scroll-behavior: 			smooth;
	-webkit-overflow-scrolling: touch;
	max-height:					100%;
}
/*
ic-main-content		> *:nth-child(1), 
[ic-main-content] 	> *:nth-child(1){
	z-index:					10;
}


ic-main-content		> *:nth-child(2),
[ic-main-content]	> *:nth-child(2) {
	z-index:					9;
}

ic-main-content 	> *:nth-child(3),
[ic-main-content]	> *:nth-child(3) {
	z-index:					8;
}

ic-main-content 	> *:nth-child(4),
[ic-main-content] 	> *:nth-child(4) {
	z-index:					7;
}

ic-main-content 	> *:nth-child(5),
[ic-main-content]	> *:nth-child(5) {
	z-index:					6;
}*/

#section-filter{
	flex:						1 1 auto;
	min-width:					18rem;
	max-width:					20rem;
	order:						1;
	z-index:					49; /* = 50-order */
}

#section-list {
	flex:						3 1 auto;
	min-width:					30rem;
	max-width:					32rem;
	order:						2;
	z-index:					48; /* = 50-order */

}

.S #section-list {
	max-width:					60%;
}


#section-item {
	flex:						1 1 48rem;
	order:						7;
	z-index:					43; /* = 50-order */
}


#section-map {
	position:					relative;
	flex:						10 0 0;
	padding:					0;
	padding-left:				1rem;
	overflow:					hidden !important;
	order:						10;
	z-index:					40; /* = 50-order */

}




#section-map:before {
	content:					'';
	position:					absolute;
	width:						1rem;
	height:						100%;
	left:						0;
	top:						0;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

.XS #section-map:before {
	display:					none;
}


#section-map:after {
	content:					'';
	position:					absolute;
	width:						100%;
	height:						1rem;
	left:						0;
	top:						-1rem;
	box-shadow:					0 0 1rem rgba(0,0,0,0.5);
	z-index:					999999;
}

#section-map > * {
	width:						100%;
	height:						100%;
}



#section-page {
	width:						50rem;
	order:						2;
	z-index:					48; /* = 50-order */
	max-width:					50rem;

}

.XS #section-page {
	max-width:					calc(100%);
}

.print-only {
	display:					none;
}

#section-calendar {
	position:					relative;
	flex:						8 1 40rem;
	min-width:					20rem;
	max-width:					70rem;
	order:						5;
	z-index:					45; /* = 50-order */
}