
:root {
	--top-shadow:				0 0 0.5rem rgba(0,0,0,0.5);
}

html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	justify-content:			stretch;
	overflow:					hidden;

}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;	
	z-index:					10;	
	z-index:					10;
}



ic-main-content,
[ic-main-content] {
	position:					relative;
	flex-grow:					1;
	display:					flex;
	overflow:					hidden !important;
	width:						100%;
	z-index: 					1;	
}

ic-main-content		.sections,
[ic-main-content]	.sections {
	flex:						0 1 auto;
	display:					grid;
	grid-template-rows:			auto auto;
	grid-template-columns:		repeat(10, auto);
	height:						100%;
}

ic-main-content		.sections > * ,
[ic-main-content]	.sections > * {
	grid-row:					-1/span 1;	
}

ic-main-content 	.sections:before,
[ic-main-content]	.sections:before{
	content:					'';
	position:					absolute;
	top:						-1rem;
	left:						0;
	right:						0;
	height:						1rem;
	box-shadow:					var(--top-shadow);
	z-index:					99;
}

.XS ic-main-content,
.XS [ic-main-content] {
	padding-left:				0;
}

ic-main-content 	.sections > *,
[ic-main-content]	.sections > * {
	display:					block;
	box-sizing:					border-box;
	position:					relative;
	overflow-x:					hidden;
	background-color:			var(--primary-background-color)!important;
	scrollbar-color:			var(--emphasized-background-contrast) rgba(0,0,0,0);
}


.XS ic-main-content		.sections >  * ,
.XS [ic-main-content]	.sections >  * {
	margin-left:				0rem;
	max-width:					100%;
}


/*
ic-main-content 	.sections > * > * ,
[ic-main-content]	.sections > * > * {
	box-sizing: 				border-box;
	scroll-behavior: 			smooth;
	-webkit-overflow-scrolling: touch;
}
*/


#section-map{
	position:					relative;
	flex:						10 0 auto;
	padding:					0;
	overflow:					hidden !important;
	order:						10;
	z-index:					40; /* = 50-order */
	min-width:					min(30rem, 100vw);
}

#section-map:before {
	content:					'';
	position:					absolute;
	top:						0;
	left:						0;
	right:						0;
	bottom:						0;
	height:						100%;
	pointer-events:				none;
	box-shadow:					1rem 1rem 1rem -1rem rgba(0,0,0,0.5) inset;
	z-index:					999999;
}

.XS #section-map:before {
	display:					none;
}


#section-map > * {
	width:						100%;
	height:						100%;
}







#section-filter-tags {
	grid-column:				1 / 10;	
	grid-row:					1;
	padding-top:				var(--vertical-padding);
	padding-bottom:				var(--vertical-padding);
	padding-left:				var(--horizontal-padding);
	padding-right:				var(--horizontal-padding);

	animation:					enter 500ms;
	transform-origin: 			left;

	box-shadow:					var(--top-shadow);
	z-index:					100;
}


@keyframes enter {
	0% {
		transform:				scale(0.8);
	}

	60%{
		transform:				scale(1.05);
	}

	100%{
		transform:				scale(1.0);
	}
}





#section-filter{
	min-width:					20rem;
	max-width:					24rem;
	width:						24rem;
	order:						1;
	z-index:					49; /* = 50-order */
}






#section-list {
	min-width:					30rem;
	max-width:					38rem;
	width:						38rem;
	order:						2;
	z-index:					48; /* = 50-order */

}

.S #section-list {
	max-width:					60%;
}






#section-item {
	order:						7;
	z-index:					43; /* = 50-order */
	min-width:					50rem;
	max-width:					100%;
}



#section-page {
	width:						41rem;
	order:						2;
	z-index:					48; /* = 50-order */
	max-width:					41rem;

}

.XS #section-page {
	max-width:					calc(100%);
}






#section-calendar {
	position:					relative;
	flex:						8 1 40rem;
	min-width:					min(40rem,100vw);
	max-width:					min(50rem,100vw);
	order:						5;
	z-index:					45; /* = 50-order */
}

.M #section-calendar,
.S #section-calendar {
	max-width:					auto;
}







.print-only {
	display:					none;
}
