
html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	overflow:					hidden;
}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;
	box-shadow:					0 0 0.3rem rgba(0,0,0,0.5);
}



ic-main-content,
[ic-main-content] {
	flex-grow:					1;
	display:					grid;
	grid-template-columns:		repeat(10, auto);
	overflow:					hidden !important;
	height:						100%;
	width:						100%;
	z-index: 					1;
}

.show-map ic-main-content,
.show-map [ic-main-content] {
	grid-template-columns:		repeat(10, min-content);
	grid-template-rows: 		auto auto;
}

.XS ic-main-content,
.XS [ic-main-content] {
	padding-left:				0;
}

ic-main-content > *,
[ic-main-content] > * {
	display:					block;
	box-sizing:					border-box;
	position:					relative;
	overflow-x:					hidden;
	background-color:			var(--primary-background-color)!important;	
}



ic-main-content 	> *:after,
[ic-main-content] 	> *:after {
	content:					'';
	display:					block;
	height:						0rem;	
}

ic-main-content		>  * ,
[ic-main-content]	>  * {
	margin-left:				0rem;
}


.XS ic-main-content		>  * ,
.XS [ic-main-content]	>  * {
	margin-left:				0rem;
	max-width:					100%;
}


ic-main-content 	> * > * ,
[ic-main-content]	> * > * {
	box-sizing: 				border-box;
	scroll-behavior: 			smooth;
	-webkit-overflow-scrolling: touch;
}



#section-map{
	position:					relative;
	grid-column:				-1 / span 1;
	grid-row:					1 / span 2;
	flex:						none;
	padding:					0;
	overflow:					hidden !important;
	order:						10;
	z-index:					40; /* = 50-order */
	min-width:					min(30rem, 100vw);

}

#section-map:before {
	content:					'';
	position:					absolute;
	top:						0;
	left:						0;
	right:						0;
	bottom:						0;
	pointer-events:				none;
	box-shadow:					1rem 1rem 1rem -1rem rgba(0,0,0,0.5) inset;
	z-index:					999999;
}

.XS #section-map:before {
	display:					none;
}


#section-map > * {
	width:						100%;
	height:						100%;
}







#section-filter-tags {
	grid-column:				1 / -1;	
	grid-row:					1 / span 1;

	padding-top:				var(--vertical-padding);
	padding-bottom:				var(--vertical-padding);
	padding-left:				var(--horizontal-padding);
	padding-right:				var(--horizontal-padding);

	animation:					enter 500ms;
	transform-origin: 			left;

}


@keyframes enter {
	0% {
		transform:				scale(0.8);
	}

	60%{
		transform:				scale(1.05);
	}

	100%{
		transform:				scale(1.0);
	}
}





#section-filter{
	flex:						1 1 auto;
	min-width:					20rem;
	max-width:					24rem;
	order:						1;
	z-index:					49; /* = 50-order */
}






#section-list {
	flex:						3 1 auto;
	min-width:					30rem;
	max-width:					32rem;
	order:						2;
	z-index:					48; /* = 50-order */

}

.S #section-list {
	max-width:					60%;
}






#section-item {
	flex:						1 1 48rem;
	order:						7;
	z-index:					43; /* = 50-order */
	min-width:					50rem;
	max-width:					100%;
}







#section-page {
	width:						41rem;
	order:						2;
	z-index:					48; /* = 50-order */
	max-width:					41rem;

}

.XS #section-page {
	max-width:					calc(100%);
}






#section-calendar {
	position:					relative;
	flex:						8 1 40rem;
	min-width:					min(40rem,100vw);
	max-width:					min(50rem,100vw);
	order:						5;
	z-index:					45; /* = 50-order */
}

.M #section-calendar,
.S #section-calendar {
	max-width:					auto;
}







.print-only {
	display:					none;
}
