
:root {
	--top-shadow:				0 0 0.5rem 1px rgba(0,0,0,0.5);
}

html {
	height:						100%;
	overflow:					hidden;
}

body {
	display:					flex;
	flex-direction:				column;
	margin:						0;
	height:						100%;
	justify-content:			stretch;
	overflow:					hidden;

}

ic-header {
	display:					block;
	flex:						none;
	width:						100%;	
	z-index:					10;	
	z-index:					10;
}



ic-main-content,
[ic-main-content] {
	position:					relative;
	flex-grow:					1;
	display:					flex;
	overflow:					hidden !important;
	width:						100%;
	z-index: 					1;	
}

ic-main-content		.primary-sections,
[ic-main-content]	.primary-sections {
	flex:						1 1 auto;
	display:					flex;
	position:					relative;
	flex-direction:				column;
	max-width:					100%;
}

ic-main-content		.primary-sections > *,
[ic-main-content]	.primary-sections > * {
	flex:						1 0 auto;
}

ic-main-content		.primary-sections .regular-sections,
[ic-main-content]	.primary-sections .regular-sections {
	display:					flex;
	position:					relative;
	z-index:					0;
	flex:						1 1 auto;
	overflow:					hidden;
}

ic-main-content		.primary-sections .regular-sections > *,
[ic-main-content]	.primary-sections .regular-sections > *{
	flex:						1 1 auto;
	box-sizing:					border-box;
	position:					relative;
	overflow-x:					hidden;
	background-color:			var(--primary-background-color)!important;
	scrollbar-color:			var(--primary-background-contrast) rgba(0,0,0,0);
}


#section-map{
	position:					relative;
	flex:						10 1 100%;
	padding:					0;
	overflow:					hidden !important;
	order:						10;
	z-index:					40; /* = 50-order */
	min-width:					min(30rem, 100vw);
}

#section-map:before {
	content:					'';
	position:					absolute;
	top:						0;
	left:						0;
	right:						0;
	bottom:						0;
	height:						100%;
	pointer-events:				none;
	box-shadow:					1rem 1rem 1rem -1rem rgba(0,0,0,0.5) inset;
	z-index:					999999;
}

.XS #section-map:before {
	display:					none;
}


#section-map > * {
	width:						100%;
	height:						100%;
}







#section-filter-tags {
	flex:						0 0 auto;
	box-shadow:					var(--top-shadow);
	z-index:					100;
	transition:					height 400ms ease-in-out;
}



#section-filter-tags > * {
	padding-top:				var(--vertical-padding);
	padding-bottom:				var(--vertical-padding);
	padding-left:				var(--horizontal-padding);
	padding-right:				var(--horizontal-padding);
}



#section-filter{
	min-width:					24rem;
	max-width:					24rem;
	order:						1;
	z-index:					49; /* = 50-order */
}






#section-list {
	min-width:					30rem;
	width:						48rem;
	max-width:					48rem;
	order:						2;
	z-index:					48; /* = 50-order */

}

#section-list > * > * {
	padding-right:				1.5rem !important;
}

.S #section-list {
	max-width:					60%;
}






#section-item {
	min-width:					24rem;
	width:						30rem;
	max-width:					40rem;
	order:						7;
	z-index:					43; /* = 50-order */
	min-width:					50rem;
	max-width:					100%;
}



#section-page {
	width:						41rem;
	order:						2;
	z-index:					48; /* = 50-order */
	max-width:					41rem;

}

.XS #section-page {
	max-width:					calc(100%);
}






#section-calendar {
	position:					relative;
	flex:						8 1 40rem;
	min-width:					min(40rem,100vw);
	max-width:					min(50rem,100vw);
	order:						5;
	z-index:					45; /* = 50-order */
}

.M #section-calendar,
.S #section-calendar {
	max-width:					auto;
}







.print-only {
	display:					none;
}
