ic-overlays ic-main-menu {
	background-color:			var(--primary-background-color);
	width:						auto !important;
	height:						auto !important;
	min-height:					0;
	padding-top:				3rem;
	padding-left:				2.5rem;
	padding-right:				3rem;
	padding-bottom:				4rem;
}

ic-overlays ic-main-menu:after {	
	display:					none !important;
}

ic-overlays ic-main-menu button.close {
	position:					absolute;
	font-size:					2rem;
	top:						0.5rem;
	right:						0.5rem;
	padding:					0;
	width:						auto;
	background-color:			var(--primary-background-color);
	border-radius:				100%;
}


ic-overlays ic-main-menu nav {
	display:					block;
	columns: 					3 auto;
	column-gap:					0;
	max-height:					20rem;
	padding:					0;
	margin:						0;
	width:						auto!important;	
}


ic-overlays ic-main-menu nav > * {
	display:					flex;
	flex-direction:				column;
	padding:					0rem;
	min-width:					15rem;
	box-sizing:					border-box;
	width:						auto !important;
	margin-bottom:				1rem;
}


ic-overlays ic-main-menu nav > * > * {
	display:					flex;
}




ic-overlays ic-main-menu nav > .primary {
	display:					none;
}


ic-overlays ic-main-menu nav > .primary {
	display:					none;
	font-weight:				600;
}

ic-overlays ic-main-menu nav > .secondary {
	font-weight:				600;
}



ic-overlays ic-main-menu nav ic-user-menu ul,
ic-overlays ic-main-menu nav ic-user-menu ul li {
	display:					contents;
}


ic-overlays ic-main-menu nav ic-user-menu ul li {
	background:					transparent !important;
}

ic-overlays ic-main-menu nav ic-user-menu > a {
	font-weight:				600;
}

ic-overlays ic-main-menu .ic-button,
ic-overlays ic-main-menu button {
	display:					flex;
	justify-content:			space-between;
}


.XS ic-overlays ic-main-menu {
	padding-top:				0.5rem;
	padding-left:				0 !important;
	padding-right:				0 !important;
	max-width:					100%;
	height:						100% !important;
	overflow:					scroll;
}




.XS ic-overlays ic-main-menu ic-logo-full {
	font-size:					3rem;
	width:						12rem;
}

.XS ic-overlays ic-main-menu button.close {
	position:					sticky;
	display:					block !important;
	top:						0rem;
	margin-bottom:				-3rem;
	margin-left:				auto;
	margin-right:				0.5rem;
}

.XS ic-overlays ic-main-menu nav {
	height:						auto !important;
	max-height:					none !important;
}

.XS ic-overlays ic-main-menu nav > * {
	display:					flex;
	flex-direction:				column;
	padding-left:				1rem;
}

.XS ic-overlays ic-main-menu nav > .primary {
	padding-top:				1rem;
	padding-bottom:				1rem;
	background-color:			var(--emphasized-background-color);
}

.XS ic-overlays ic-main-menu nav {
	columns:					auto !important;
}


/*

ic-overlays ic-main-menu > div {
	display:					block;
	columns:					3 auto;
	column-gap:					2rem;
	z-index:					0;
	width:						auto;
	margin:						0;
	padding:					4rem 4rem 3rem 3rem	
}

ic-overlays ic-main-menu > ul > li {
	display:					block;
	font-weight:				bold;
	break-inside:				avoid;
}

ic-overlays ic-main-menu > ul > li > *:not(ul) {
	display:					block;
	line-height:				2rem;
	padding:					0 0.5rem
}

ic-overlays ic-main-menu > ul > li + li {
	margfin-top:				1rem;
}

ic-overlays ic-main-menu > ul > li > ul > li{
	font-weight:				normal;
}

ic-overlays ic-main-menu > ul > li > ul > li > * {
	display:					flex !important;
	justify-content:			space-between;
	align-items:				center;
	box-sizing:					border-box;
	width:						100%;
	padding:					0 0.5rem;
	line-height:				2em;
}
*/
/*ic-overlays ic-main-menu .bg-0.hover:focus,
ic-overlays ic-main-menu .bg-0.hover:hover {
	background:					inherit !important;
	color:						inherit !important;
}*/

/*ic-overlays ic-main-menu li {
	padding:					0;
}

ic-overlays ic-main-menu > ul > li:nth-child(1){
	padding-top:				2rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(4){
	padding-bottom:				1rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(5){
	padding-top	:				1rem;
}


ic-overlays ic-main-menu a, 
ic-overlays ic-main-menu button {
	display:					block !important;
	box-sizing: 				border-box;
	width: 						100%;
	padding:					0 2rem;
	line-height:				3rem;
	text-align: 				left;
}

ic-overlays ic-main-menu ul li {
	display:					block;
}

ic-overlays ic-main-menu > ul > li > a {
	font-weight: 				bold;
}

ic-overlays ic-main-menu ul > li > ul {
	padding:					1rem 0;
	position:					relative;
	box-shadow:					none;	
}

ic-overlays ic-main-menu ul > li > ul > li a:focus,
ic-overlays ic-main-menu ul > li > ul > li a:hover,
ic-overlays ic-main-menu ul > li > ul > li button:focus,
ic-overlays ic-main-menu ul > li > ul > li button:hover {
	background-color:			transparent;
	color:						inherit;
}

ic-overlays ic-main-menu ul > li > ul > li a, 
ic-overlays ic-main-menu ul > li > ul > li button {
	display:					block;
}

ic-overlays ic-main-menu ul > li > ul > li:not(:first-child) a:before, 
ic-overlays ic-main-menu ul > li > ul > li:not(:first-child) button:before{
	content:					'';
	display:					block;
	height:						0px;
	border-top:					1px solid rgba(0,0,0,.3);
}*/