ic-map-expand-control {
	display:					block;
	position:					relative;
	background-color:			var(--primary-background-color);
	margin-top:					4rem !important;
	margin-left:				0 !important;
	height:						4rem;
	width:						3rem;
	border-top-right-radius:	1rem;
	border-bottom-right-radius:	1rem;
	padding:					0 !important;
	overflow:					hidden;
	box-shadow:					0.1rem 0.1rem 0.5rem 0px rgba(0,0,0,.2);
	transition:					transform 350ms;
}

ic-map-expand-control:hover{
	transform:					scale(1.1);
}

ic-map-expand-control button,
ic-map-expand-control button >* {
	touch-action: 			none;
	padding:					0!important;
	font-size:					1.25rem !important;
	height:						100% !important;
	width:						100% !important;
	background-position:		center !important;

}

ic-map-switch-control button,
ic-map-expand-control button {
	display:				block;
	width:					2.5rem;
	height:					2.5rem;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	background-size:		2.5rem;
	font-size:				2rem;	
}

ic-map-switch-control button,
ic-map-switch-control button:focus,
ic-map-switch-control button:hover,
ic-map-switch-control button:active,
ic-map-expand-control button,
ic-map-expand-control button:focus,
ic-map-expand-control button:hover,
ic-map-expand-control button:active {
	background-color:		transparent !important;
	font-size:				1.5rem;
}
