#section-calendar > article {
	padding:			1rem;
	padding-top:		0;
}

#section-calendar header {
	padding-top:		1rem;
	padding-bottom:		1rem;
	position:			sticky;
	top:				0;
	background:			var(--primary-background-color);
	z-index:			999;
}

#section-calendar header .heading {
	display:			flex;	
	align-items:		center;
	gap:				1rem;
}

#section-calendar header .heading:before {
	content:			'';
	flex:				1 1 0;
}

#section-calendar header .heading :first-child {
	order:				-1;
}

#section-calendar header .controls {
	display:			flex;
	flex-wrap:			wrap;
	justify-content:	flex-end;
	align-items:		center;
	gap:				0.5rem;
}

#section-calendar header .controls > *{
	flex:				0 0 auto;
}

#section-calendar header .controls input {
	 line-height:		initial;
	 margin:			initial;
	 background:		initial;
	 width:				initial;
}

.XS #section-calendar header .controls {
	flex-direction:		column;
	align-items:		stretch;
	padding:			0 1rem;
}

.XS #section-calendar header .controls button,
.XS #section-calendar header .controls input {
	flex:				1 0 40%;
}


#section-calendar .date h2 {
	position:			sticky;
	z-index:			50;
	top:				9rem;
	background:			var(--primary-background-color);
	margin-bottom:		0!important;
	padding-bottom:		1rem;
}

