#section-list header {
	padding:				var(--vertical-padding) var(--horizontal-padding);	
	display:				flex;
	flex-wrap:				wrap;
	align-items:			center;
	justify-content:		space-between;	
	gap:					1rem;
	scroll-snap-align:		start;
}

#section-list header > * {
	margin-left:			auto;
}


