ic-search-result-list {
	display:					block;
}

ic-search-result-list header {
	display:					flex;

}

ic-search-result-list header ic-spinner {
	font-size:					2rem;
	flex:						0 0 auto;
}


ic-search-result-list  a {
	margin:						1rem !important;
	margin-right:				0rem !important;
	display:					block;
}


ic-search-result-list .more {
	font-size: 					2em;
	user-select:				none;
}

.XS ic-search-result-list  a {
	margin:						0 !important;	
}