ic-search-result-list {
	display:					block;
}

ic-search-result-list header {
	display:					flex;

}

ic-search-result-list header ic-spinner {
	font-size:					2rem;
	flex:						0 0 auto;
}


ic-search-result-list  a {
	display:					block;
}


ic-search-result-list .more {
	font-size: 					2em;
	user-select:				none;
}


ic-search-result-list ic-item-preview {
	margin:						1rem !important;
	margin-right:				0rem !important;
	border-width:				2px;
	border-color:				var(--emphasized-background-color);
	border-style:				solid;
	border-radius:				0.5rem;
}

ic-search-result-list ic-item-preview.active-item {
	background-color:			var(--secondary-background-color);
}

ic-search-result-list ic-item-preview.active-item:hover {
	background-color:			var(--secondary-background-color) !important;
}

ic-search-result-list ic-item-preview:before {
	display:					none !important;	
}
