
/* ic-search */

ic-search {
	display:						flex;
	height:							2em;
	align-items: 					center;
	flex-wrap: 						nowrap;
	margin:							1rem 0;
}

ic-search > * {
	flex: 							1 0 auto;
	display: 						inline-flex !important;
}

ic-search label {
	cursor: 						pointer;
}

ic-search:focus-within label {
	display: 						none !important;	
} 

ic-search:not(:focus-within) label + form {
	flex: 							0 0 0;
	position: 						absolute;
	z-index: 						-1;
	opacity: 						0;
}

ic-search form {
	box-sizing:						border-box;
	flex: 							1 1 auto;
	position:						relative;
	height:							1.75em;
	align-items: 					center;
}


ic-search form input[type=text],
ic-search form input[type=search] {
	display:						block;
	box-sizing:						border-box;	
	padding:						0em 1rem 0em 2rem;
	margin:							0;
	font-size:						1.5em;
	line-height:					2em;
}

ic-search form button {
	position: 						absolute;
	display:						none !important;	
	right: 							0;
	width:							2em;
	background-color:				transparent;
	z-index: 						999999;
}


ic-extended-search .results a {
	padding-left:					2rem;
	padding-right:					2rem;
}


