#section-page > article {
	position: 						relative;
	min-height: 					100%;
	display: 						flex;
	flex-direction: 				column;
	align-items: 					stretch;
}

ic-page {
	display:						flex;
	flex: 							1 0 auto;
	flex-direction: 				column;
	align-items: 					stretch;
}

ic-page > nav {
	display:						flex;
	flex:							1 0 0;
	text-transform:					capitalize;
	align-items:					center;
	justify-content: 				space-around;
	font-size:						1.2rem;
}

ic-page .hero {
	display:						block;
	padding-top:					50%;	
	background-size:				contain;
	background-repeat:				no-repeat;
	background-position:			50% 50%;
	margin-bottom:					1rem;
}

ic-page .hero + nav {
	display:						flex;
	align-items:					stretch;
	gap:							1rem;
} 

ic-page .hero + nav > * {
	display:						flex;
	flex:							1 0 0;
	flex-direction:					column;
	align-items:					center;
	justify-content:				space-between;
	text-align: 					center;
	margin:							max-content;
	gap:							0.5rem;
}


ic-page .hero + nav > * > a {
	margin-top:						0.5rem;
}

ic-page  header h2 {
	display: 						block;
	position:						absolute;
	font-size:						2.75;
	margin-top:						0.5rem;
	margin-left:					-1rem;
	padding-left:					1em;
	font-weight:					500;
	max-width:						50rem;	
	text-indent:					-1em;
	z-index:						5;
	width:							100%;
}

ic-page  header h2 span {
	padding:						0.5rem;
	-webkit-box-decoration-break: 	clone;
  	-o-box-decoration-break: 		clone;
  	box-decoration-break:			clone;
}


ic-page hr {
	background-color:				var(--neutral-color);
}

ic-page article {
	display:						block;
	background-color:				var(--primary-background-color);
	color:							var(--plain-text-color);
	margin-bottom:					1rem;
	padding:						0rem 1.5rem;
}

ic-page article + article {
	margin-top:						1rem;
}


ic-page article > ic-search {
	margin-bottom:				4rem;
}


ic-page a.boxed {
	display:					inline-block;
	font-size: 					0.875rem;
	font-weight: 				800;
	line-height:				2.5em;
	border-width:				0.15em;
	border-style:				solid;
	letter-spacing: 			0.1rem;
	padding: 					0.5rem 2rem;
}

ic-page a.boxed + a.boxed,
ic-page a.padding + a.padding {
	margin-left:				1rem;
}




ic-page .types {
	display:					flex;
	padding:					1rem 0;
	margin:						0.5rem auto;
}

ic-page .types > * {
	flex:						1 0 auto;
	text-align:					left;
	line-height:				1.5em;
	padding-left:				2rem !important;
	margin:						0.5rem 0;
}


ic-page .third-party-logo{
	width:						15rem;
	height:						10rem;
	background-size:			contain;
	background-repeat:			no-repeat;
}



ic-page ic-category {
	margin-top:					4rem;
	margin-left:				auto;
	margin-right:				auto;
}


ic-page .images {
	display:					flex;
	flex-wrap: 					wrap;
	padding:					1rem 0;
	justify-content:			space-between;
	align-items: 				center;
}

ic-page .images.center {
	justify-content:			center;
}

ic-page .images > * {
	width:						30rem;
	max-width:					100%;

	height:						30rem;
	max-width:					100%;

	background-repeat:			no-repeat;
	background-size:			contain;
	background-position:		50% 50%;
}


.XS ic-page .images.spread {
	justify-content: 			space-around;
}

ic-page .images.spread {
	margin-top: 				-0.5rem;
	margin-bottom: 				-0.5rem;
}

ic-page .images.spread > * {
	width: 						45%;
	min-width: 					18rem;
	max-width: 					100%;
	height: 					unset;
	max-height: 				unset;
	margin-top: 				0.5rem;
	margin-bottom: 				0.5rem;
	min-height:					100%;
}

ic-page .images.spread > .portrait {
	width: 						37.279220614%;
}

ic-page .images.spread > .landscape {
	width: 						52.720779386%;
}

ic-page p > .image {
	display: 					inline-block;
	height: 					6rem;
	width: 						6rem;
}

ic-page p > .image.portrait {
	height: 					12rem;
	width: 						8.485281374rem;
}

ic-page p > .image.landscape {
	height: 					8.485281374rem;
	width: 						12rem;
}


/* update due to markdown addition*/
ic-page h1 {
	color:						var(--dark-text-color);
	font-size: 					2.25em;
	font-weight: 				400;
	margin-bottom:				1rem;
	margin-top:					2rem;
}


ic-page h2 {
	color:						var(--dark-text-color);
	font-size: 					1.5em;
	font-weight: 				600;
	margin-top:					3rem;
	margin-bottom:				0.75rem;
}

ic-page h3 {
	color:						var(--dark-text-color);	
	font-size: 					1.1em;
	font-weight: 				600;
	margin-top:					1rem;	
	margin-bottom:				1rem;
}


ic-page p {
	font-size: 					1rem;
	margin-top:					1rem;
	margin-bottom:				1rem;
	line-height: 				2;	
}


ic-page p > img {
	display:					inline-block;
	height:						10rem;
	width:						20rem;
	max-width:					100%;
	object-fit:					contain;
}

ic-page p > img + img {
	margin-left:				1rem;
}


ic-page > a,
ic-page p a,
ic-page ul a {
	color:						var(--active-color, var(--primary-color));
/*	padding-left: 				0.5rem;*/
/*	padding-right: 				0.5rem;*/
	text-decoration: 			underline;
}

ic-page em > a {
	display:					inline-block;
	padding:					1rem;
	border:						0.15rem solid var(--active-color, var(--primary-color));
	margin:						0 0.5rem;
	font-style:					normal;
}

ic-page p em:first-child > a {
	margin-left:				0;
}

ic-page ul {
	box-sizing: 				border-box;
	list-style: 				disc outside;	
	padding-left:				4rem;
	font-size: 					1.25rem;	
}

ic-page ul li {
	margin:						0.25em 0;
}

ic-page ol {
	box-sizing: 				border-box;	
	padding-left: 				4rem;
	font-size: 					1.25rem;	
}

ic-page ol li::marker {
	font-family: 				inherit;
	font-size: 					1.25rem;
}









ic-footer {
	display:					block;
	background-color:			var(--emphasized-background-color);
	color:						var(--emphasized-background-contrast);
	padding: 					2rem;
	padding-bottom:				4rem;
	text-align: 				left;
	columns:					3 auto;
	column-gap:					0.25rem;
	height:						auto;
}

ic-footer > * {
	break-inside:				avoid;
}


ic-footer a {
	display:					block;
	border:						none;
	margin:						1rem 0;
	white-space:				nowrap;
}

ic-footer h4 {
	font-weight:				bold;
	margin:						0 0 1rem 0 !important;
	font-size:					inherit;
}
