ic-taxonomy-filter {
	background-color:			var(--emphasized-background-color);
	padding-top:				1rem!important;
	padding-bottom:				1rem!important;
	padding-left:				1rem!important;
	padding-right:				1rem!important;

	display:					block;
	flex-direction:				column;
	
	padding-bottom:				5rem !important;
}

ic-taxonomy-filter section {
	display: 					block !important;
	gap:						0.5rem;
	background-color:			var(--primary-background-color);
	border-radius:				0.5rem;
	margin-bottom:				1rem;
	overflow:					hidden;
}

ic-taxonomy-filter ic-taxonomy-filter-categories {
	display:					content;
}

ic-taxonomy-filter section button {
	display:					flex !important;
	box-sizing:					border-box;
	align-items:				center !important;
	justify-content:			space-between;
	min-height:					2.5rem !important;	
	padding-left:				1rem;
	padding-right:				0.5rem;
	padding-top:				0.25rem;
	padding-bottom:				0.25rem;
	background-position:		0.5rem 50% !important;
	background-color:			transparent;
	overflow-wrap: 				anywhere;
	margin: 					0;
	text-align:					left;	
	color:						var(--primary-text-color);
	width:						100%;	
}

ic-taxonomy-filter section button.checked  {
	background-color:			var(--secondary-accent-color);
}

ic-taxonomy-filter section button:hover {
	color:						var(--primary-text-color);
}

ic-taxonomy-filter section > button{
	font-weight:				600;
}

ic-taxonomy-filter section button.icon{
	padding-left:				3rem !important;
	background-position:		1rem 50%!important;
}

ic-taxonomy-filter section button .counter {
	display:					flex;
	gap:						0.1rem;
	gap:						round(up, 0.1rem, 1px);
}

ic-taxonomy-filter section button .counter .tick {
	display:					block;
	width:						0.2rem;
	width:						round(down, 0.2rem, 1px);
	height:						1rem;
	height:						round(down, 1rem, 1px);
	background-color:			var(--heavy-shade);
}

ic-taxonomy-filter section button.section-toggle {
	margin:						0;	
	font-size:					1rem;
	padding-left:				1rem!important;
	padding-right:				2.5rem!important;
	background-position:		calc(100% - 0.5rem) 50% !important;
	margin:						0;	
	border-radius:				0;
}

ic-taxonomy-filter section button.section-toggle.open {
	background-color:			transparent !important;	
} 

ic-taxonomy-filter section button ~ div {
	display:					block;
	flex-direction:				column;
	align-items:				stretch;
	gap:						0.5rem;
}




ic-taxonomy-filter-categories {
	display: 					block;
	flex-direction:				column;
}


ic-taxonomy-filter .category {
	overflow:					hidden;

}

ic-taxonomy-filter .category.open{
	border-top:					1px solid var(--secondary-background-color);
	border-bottom:				1px solid var(--secondary-background-color);

	margin-top:					-1px;
	margin-bottom:				1rem;
}
ic-taxonomy-filter .category.open > button {
	font-weight:				500;
}



ic-taxonomy-filter section .sub-categories {
	padding:					1rem;
	overflow:					hidden;
	gap:						0.5rem;
	display:					block;
	flex-wrap:					nowrap;
	flex-direction:				column;
	align-items:				stretch;
	padding-top:				0;
	padding-bottom:				0;
	padding-right:				0;
	padding-left:				0.5rem;
	transition:					height ease-in-out 400ms
}

/*ic-taxonomy-filter .category:not(.open) .sub-categories {
	display:					none;
}*/

ic-taxonomy-filter section .sub-categories > button {
	background-color:			var(--primary-background-color);
	width:						100%;
	height:						auto;	
}

ic-taxonomy-filter section .sub-categories > button > .bubble {
	flex:						0 0 auto;
}
