ic-taxonomy-filter {
	background-color:			var(--emphasized-background-color);
	padding-top:				var(--vertical-padding);
	padding-bottom:				var(--vertical-padding);
	padding-left:				var(--horizontal-padding);
	padding-right:				var(--horizontal-padding);

	display:					flex;
	gap:						1rem;
	flex-direction:				column;

	min-height:					100%;
	padding-bottom:				5rem !important;
}

ic-taxonomy-filter section {
	display: 					flex !important;
	flex:						0 0 auto;
	align-items:				stretch;
	flex-direction:				column;
	overflow:					hidden;
	padding:					var(--vertical-padding) var(--horizontal-padding);
	gap:						0.5rem;
	background-color:			var(--primary-background-color);
}

ic-taxonomy-filter ic-taxonomy-filter-categories {
	display:					block;
}

ic-taxonomy-filter section button {
	display:					flex !important;
	box-sizing:					border-box;
	align-items:				center !important;
	justify-content:			space-between;
	min-height:					2.5rem !important;	
	padding-left:				0.5rem;
	padding-right:				0rem;
	padding-top:				0.25rem;
	padding-bottom:				0.25rem;
	background-position:		0.5rem 50% !important;
	background-color:			transparent;
	overflow-wrap: 				anywhere;
	margin: 					0;
	text-align:					left;	
	color:						var(--primary-text-color);
}

ic-taxonomy-filter section button:hover {
	color:						var(--primary-text-color);
}

ic-taxonomy-filter section > button{
	font-weight:				600;
}

ic-taxonomy-filter section button.icon{
	padding-left:				2.5rem !important;
}

ic-taxonomy-filter section button.checked {
}

ic-taxonomy-filter section button.section-toggle {
	margin:						0;	
	font-size:					1rem;
	padding-left:				1rem!important;
	padding-right:				2.5rem!important;
	background-position:		calc(100% - 0.5rem) 50% !important;
	margin:						0 -0.5rem;	
	background-color:			transparent !important;
	border-radius:				0;
}

ic-taxonomy-filter section button ~ div {
	display:					flex;
	flex-direction:				column;
	align-items:				stretch;
	gap:						0.5rem;
}




ic-taxonomy-filter-categories {
	display: 					flex;
	flex-direction:				column;
}


ic-taxonomy-filter .category {
	overflow:					hidden;

}

ic-taxonomy-filter .category.open{
	border-top:					1px solid var(--secondary-background-color);
	border-bottom:				1px solid var(--secondary-background-color);

	margin-top:					-1px;
	margin-bottom:				1rem;
}
ic-taxonomy-filter .category.open > button {
	font-weight:				500;
}



ic-taxonomy-filter section .sub-categories {
	display:					flex;
	padding:					1rem;
	border-radius:				0.5rem;
	overflow:					hidden;
	gap:						0.5rem;
	flex-wrap:					wrap;
	flex-direction:				column;
	align-items:				stretch;
	padding:					0;
}

ic-taxonomy-filter .category:not(.open) .sub-categories {
	display:					none;
}

ic-taxonomy-filter section .sub-categories > button {
	flex:						0 1 auto;
	background-color:			var(--primary-background-color);
	width:						auto;
	height:						auto;
	justify-content:			space-between;
}

ic-taxonomy-filter section .sub-categories > button > .bubble {
	flex:						0 0 auto;
}

ic-taxonomy-filter section .sub-categories > button.checked {
	background-color:			var(--primary-accent);
}


